<dec f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.h' l='376' type='webrtc::VideoSendStream::Config'/>
<offset>0</offset>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='486' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream29ConfigureVideoEncoderSettingsERKNS_10VideoCodecE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='521' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream29ConfigureVideoEncoderSettingsERKNS_10VideoCodecE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2036' u='w' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream25VideoSendStreamParametersC1EN6webrtc15VideoSendStream6ConfigERKNS_12VideoOptionsEiRKNSt3__18op9209092'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2069' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2070' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2073' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2076' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2077' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2080' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2081' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2089' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2102' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2103' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2108' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2110' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2113' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2116' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStreamC1EPN6webrtc4CallERKNS_12StreamParamsENS2_15VideoSendStream6ConfigERKNS_12VideoOptionsEbiRKNSt3_862880'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2216' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2217' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2218' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2220' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2221' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2225' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2230' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2232' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2237' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2238' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2240' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream8SetCodecERKNS0_18VideoCodecSettingsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2258' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream17SetSendParametersERKNS0_21ChangedSendParametersE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2260' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream17SetSendParametersERKNS0_21ChangedSendParametersE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2264' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream17SetSendParametersERKNS0_21ChangedSendParametersE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2268' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream17SetSendParametersERKNS0_21ChangedSendParametersE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2273' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream17SetSendParametersERKNS0_21ChangedSendParametersE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2380' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream17SetFrameEncryptorEN3rtc13scoped_refptrIN6webrtc23FrameEncryptorInterfaceEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2384' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream17SetFrameEncryptorEN3rtc13scoped_refptrIN6webrtc23FrameEncryptorInterfaceEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2446' u='m' c='_ZNK7cricket18WebRtcVideoChannel21WebRtcVideoSendStream24CreateVideoEncoderConfigERKNS_10VideoCodecE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2528' u='m' c='_ZNK7cricket18WebRtcVideoChannel21WebRtcVideoSendStream24CreateVideoEncoderConfigERKNS_10VideoCodecE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2584' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream27GetPerLayerVideoSenderInfosEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2626' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream27GetPerLayerVideoSenderInfosEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2644' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream27GetPerLayerVideoSenderInfosEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2695' u='m' c='_ZNK7cricket18WebRtcVideoChannel21WebRtcVideoSendStream28GetAggregatedVideoSenderInfoERKNSt3__16vectorINS_15VideoSenderInfoENS2_9allocatorIS4_EEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2756' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream38SetEncoderToPacketizerFrameTransformerEN3rtc13scoped_refptrIN6webrtc25FrameTransformerInterfaceEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2783' u='m' c='_ZN7cricket18WebRtcVideoChannel21WebRtcVideoSendStream20RecreateWebRtcStreamEv'/>
