<dec f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/tcp_port.h' l='85' type='rtc::AsyncPacketSocket *'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/tcp_port.cc' l='115' u='r' c='_ZN7cricket7TCPPortD1Ev'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/tcp_port.cc' l='282' u='w' c='_ZN7cricket7TCPPort15OnNewConnectionEPN3rtc17AsyncPacketSocketES3_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/tcp_port.cc' l='283' u='r' c='_ZN7cricket7TCPPort15OnNewConnectionEPN3rtc17AsyncPacketSocketES3_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/tcp_port.cc' l='284' u='r' c='_ZN7cricket7TCPPort15OnNewConnectionEPN3rtc17AsyncPacketSocketES3_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/tcp_port.cc' l='285' u='r' c='_ZN7cricket7TCPPort15OnNewConnectionEPN3rtc17AsyncPacketSocketES3_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/tcp_port.cc' l='312' u='r' c='_ZN7cricket7TCPPort11GetIncomingERKN3rtc13SocketAddressEb'/>
<offset>576</offset>
