<dec f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Image.h' l='127' type='EGLenum'/>
<offset>64</offset>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Image.cpp' l='232' u='w' c='_ZN3egl10ImageStateC1EjPNS_12ImageSiblingERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/ImageMtl.mm' l='127' u='r' c='_ZN2rx8ImageMtl10initializeEPKN3egl7DisplayE'/>
