<use f='webkit/Source/JavaScriptCore/runtime/LazyProperty.h' l='43' u='w' c='_ZN3JSC12LazyProperty11InitializerC1EPT_RNS_12LazyPropertyIS2_T0_EE'/>
<dec f='webkit/Source/JavaScriptCore/runtime/LazyProperty.h' l='51' type='JSC::VM &amp;'/>
<use f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/LazyProperty.h' l='43' u='w' c='_ZN3JSC12LazyProperty11InitializerC1EPT_RNS_12LazyPropertyIS2_T0_EE'/>
<dec f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/LazyProperty.h' l='51' type='JSC::VM &amp;'/>
