<use f='webkit/Source/JavaScriptCore/dfg/DFGNode.h' l='209' u='w' c='_ZN3JSC3DFG10SwitchCaseC1ENS0_11LazyJSValueEPNS0_10BasicBlockE'/>
<use f='webkit/Source/JavaScriptCore/dfg/DFGNode.h' l='217' u='m' c='_ZN3JSC3DFG10SwitchCase17withBytecodeIndexENS0_11LazyJSValueEj'/>
<dec f='webkit/Source/JavaScriptCore/dfg/DFGNode.h' l='222' type='JSC::DFG::BranchTarget'/>
<use f='webkit/Source/JavaScriptCore/dfg/DFGNode.h' l='1661' u='m' c='_ZN3JSC3DFG4Node9successorEj'/>
<use f='webkit/Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp' l='12346' u='m' c='_ZN3JSC3DFG14SpeculativeJIT24emitSwitchStringOnStringEPNS0_4NodeEPNS0_10SwitchDataENS_14ARM64Registers10RegisterIDE'/>
<use f='webkit/Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp' l='12384' u='m' c='_ZN3JSC3DFG14SpeculativeJIT16emitSwitchStringEPNS0_4NodeEPNS0_10SwitchDataE'/>
<offset>128</offset>
<use f='webkit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='11323' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB313compileSwitchEv'/>
<use f='webkit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='11324' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB313compileSwitchEv'/>
<use f='webkit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16793' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB311buildSwitchEPNS_3DFG10SwitchDataENS_2B34TypeEPNS6_5ValueE'/>
<use f='webkit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16793' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB311buildSwitchEPNS_3DFG10SwitchDataENS_2B34TypeEPNS6_5ValueE'/>
<use f='webkit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16796' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB311buildSwitchEPNS_3DFG10SwitchDataENS_2B34TypeEPNS6_5ValueE'/>
<use f='webkit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16796' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB311buildSwitchEPNS_3DFG10SwitchDataENS_2B34TypeEPNS6_5ValueE'/>
<use f='webkit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16857' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB312switchStringEPNS_3DFG10SwitchDataEPNS_2B35ValueERNS3_4EdgeE'/>
<use f='webkit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='17094' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB316switchStringSlowEPNS_3DFG10SwitchDataEPNS_2B35ValueE'/>
<use f='webkit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='17094' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB316switchStringSlowEPNS_3DFG10SwitchDataEPNS_2B35ValueE'/>
