<use f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/FrameTracers.h' l='57' u='w' c='_ZN3JSC18TopCallFrameSetterC1ERNS_2VMEPNS_9CallFrameE'/>
<use f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/FrameTracers.h' l='65' u='m' c='_ZN3JSC18TopCallFrameSetterD1Ev'/>
<dec f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/FrameTracers.h' l='68' type='JSC::VM &amp;'/>
<offset>0</offset>
