<dec f='webkit/Source/JavaScriptCore/bytecode/HandlerInfo.h' l='87' type='uint32_t'/>
<use f='webkit/Source/JavaScriptCore/bytecode/HandlerInfo.h' l='100' u='w' c='_ZN3JSC19UnlinkedHandlerInfoC1EjjjNS_11HandlerTypeE'/>
<use f='webkit/Source/JavaScriptCore/bytecode/HandlerInfo.h' l='111' u='w' c='_ZN3JSC11HandlerInfo10initializeERKNS_19UnlinkedHandlerInfoE'/>
<use f='webkit/Source/JavaScriptCore/bytecode/HandlerInfo.h' l='111' u='r' c='_ZN3JSC11HandlerInfo10initializeERKNS_19UnlinkedHandlerInfoE'/>
<offset>64</offset>
<dec f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/HandlerInfo.h' l='87' type='uint32_t'/>
<use f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/HandlerInfo.h' l='100' u='w' c='_ZN3JSC19UnlinkedHandlerInfoC1EjjjNS_11HandlerTypeE'/>
<use f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/HandlerInfo.h' l='111' u='w' c='_ZN3JSC11HandlerInfo10initializeERKNS_19UnlinkedHandlerInfoE'/>
<use f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/HandlerInfo.h' l='111' u='r' c='_ZN3JSC11HandlerInfo10initializeERKNS_19UnlinkedHandlerInfoE'/>
<offset>64</offset>
