<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/socket.h' l='81' ll='132'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/socket.h' l='104' c='_ZN3rtc6Socket6AcceptEPNS_13SocketAddressE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/socket.h' l='131' c='_ZN3rtc6SocketC1ERKS0_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/socket.h' l='131' c='_ZN3rtc6SocketaSERKS0_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/socket.h' l='131' c='_ZN3rtc6SocketaSERKS0_'/>
<ovr f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/async_socket.h' l='26' c='rtc::AsyncSocket'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/async_socket.h' l='26'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/socket_factory.h' l='25' c='_ZN3rtc13SocketFactory12CreateSocketEii'/>
<size>8</size>
<doc f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/socket.h' l='79'>// General interface for the socket implementations of various networks.  The
// methods match those of normal UNIX sockets very closely.</doc>
<fun r='_ZN3rtc6SocketD1Ev'/>
<fun r='_ZNK3rtc6Socket15GetLocalAddressEv'/>
<fun r='_ZNK3rtc6Socket16GetRemoteAddressEv'/>
<fun r='_ZN3rtc6Socket4BindERKNS_13SocketAddressE'/>
<fun r='_ZN3rtc6Socket7ConnectERKNS_13SocketAddressE'/>
<fun r='_ZN3rtc6Socket4SendEPKvm'/>
<fun r='_ZN3rtc6Socket6SendToEPKvmRKNS_13SocketAddressE'/>
<fun r='_ZN3rtc6Socket4RecvEPvmPx'/>
<fun r='_ZN3rtc6Socket8RecvFromEPvmPNS_13SocketAddressEPx'/>
<fun r='_ZN3rtc6Socket6ListenEi'/>
<fun r='_ZN3rtc6Socket6AcceptEPNS_13SocketAddressE'/>
<fun r='_ZN3rtc6Socket5CloseEv'/>
<fun r='_ZNK3rtc6Socket8GetErrorEv'/>
<fun r='_ZN3rtc6Socket8SetErrorEi'/>
<fun r='_ZNK3rtc6Socket10IsBlockingEv'/>
<fun r='_ZNK3rtc6Socket8GetStateEv'/>
<fun r='_ZN3rtc6Socket9GetOptionENS0_6OptionEPi'/>
<fun r='_ZN3rtc6Socket9SetOptionENS0_6OptionEi'/>
<fun r='_ZN3rtc6SocketC1Ev'/>
<fun r='_ZN3rtc6SocketC1ERKS0_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/firewall_socket_server.h' l='80' c='_ZN3rtc20FirewallSocketServer12CreateSocketEii'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/firewall_socket_server.h' l='87' c='_ZN3rtc20FirewallSocketServer10WrapSocketEPNS_6SocketEi'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/firewall_socket_server.h' l='87' c='_ZN3rtc20FirewallSocketServer10WrapSocketEPNS_6SocketEi'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/firewall_socket_server.cc' l='205' c='_ZN3rtc20FirewallSocketServer12CreateSocketEii'/>
<size>8</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/physical_socket_server.h' l='71' c='_ZN3rtc20PhysicalSocketServer12CreateSocketEii'/>
<size>8</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/null_socket_server.h' l='30' c='_ZN3rtc16NullSocketServer12CreateSocketEii'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/null_socket_server.cc' l='32' c='_ZN3rtc16NullSocketServer12CreateSocketEii'/>
<size>8</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/physical_socket_server.cc' l='1091' c='_ZN3rtc20PhysicalSocketServer12CreateSocketEii'/>
<size>8</size>
<def f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/socket.h' l='81' ll='132'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/socket.h' l='104' c='_ZN3rtc6Socket6AcceptEPNS_13SocketAddressE'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/socket.h' l='131' c='_ZN3rtc6SocketC1ERKS0_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/socket.h' l='131' c='_ZN3rtc6SocketaSERKS0_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/socket.h' l='131' c='_ZN3rtc6SocketaSERKS0_'/>
<ovr f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/async_socket.h' l='26' c='rtc::AsyncSocket'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/async_socket.h' l='26'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/socket_factory.h' l='25' c='_ZN3rtc13SocketFactory12CreateSocketEii'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/physical_socket_server.h' l='71' c='_ZN3rtc20PhysicalSocketServer12CreateSocketEii'/>
<size>8</size>
<doc f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/rtc_base/socket.h' l='79'>// General interface for the socket implementations of various networks.  The
// methods match those of normal UNIX sockets very closely.</doc>
<fun r='_ZN3rtc6SocketD1Ev'/>
<fun r='_ZNK3rtc6Socket15GetLocalAddressEv'/>
<fun r='_ZNK3rtc6Socket16GetRemoteAddressEv'/>
<fun r='_ZN3rtc6Socket4BindERKNS_13SocketAddressE'/>
<fun r='_ZN3rtc6Socket7ConnectERKNS_13SocketAddressE'/>
<fun r='_ZN3rtc6Socket4SendEPKvm'/>
<fun r='_ZN3rtc6Socket6SendToEPKvmRKNS_13SocketAddressE'/>
<fun r='_ZN3rtc6Socket4RecvEPvmPx'/>
<fun r='_ZN3rtc6Socket8RecvFromEPvmPNS_13SocketAddressEPx'/>
<fun r='_ZN3rtc6Socket6ListenEi'/>
<fun r='_ZN3rtc6Socket6AcceptEPNS_13SocketAddressE'/>
<fun r='_ZN3rtc6Socket5CloseEv'/>
<fun r='_ZNK3rtc6Socket8GetErrorEv'/>
<fun r='_ZN3rtc6Socket8SetErrorEi'/>
<fun r='_ZNK3rtc6Socket10IsBlockingEv'/>
<fun r='_ZNK3rtc6Socket8GetStateEv'/>
<fun r='_ZN3rtc6Socket9GetOptionENS0_6OptionEPi'/>
<fun r='_ZN3rtc6Socket9SetOptionENS0_6OptionEi'/>
<fun r='_ZN3rtc6SocketC1Ev'/>
<fun r='_ZN3rtc6SocketC1ERKS0_'/>
