<dec f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vpx/vpx_codec.h' l='212' type='union (anonymous union at /Volumes/ExternalSSD/Projects/webkit/WebKit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vpx/vpx_codec.h:206:3)'/>
<offset>320</offset>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/vp8_cx_iface.c' l='637' u='m' c='vp8e_init'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/vp8_cx_iface.c' l='641' u='m' c='vp8e_init'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/vp8_cx_iface.c' l='642' u='m' c='vp8e_init'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/vp8_dx_iface.c' l='77' u='m' c='vp8_init_ctx'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/vp8_dx_iface.c' l='79' u='m' c='vp8_init_ctx'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp8/vp8_dx_iface.c' l='80' u='m' c='vp8_init_ctx'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/vp9_cx_iface.c' l='919' u='m' c='encoder_init'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/vp9_cx_iface.c' l='921' u='m' c='encoder_init'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/vp9_cx_iface.c' l='922' u='m' c='encoder_init'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/vp9_dx_iface.c' l='50' u='m' c='decoder_init'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/vp9_dx_iface.c' l='51' u='m' c='decoder_init'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/vp9_dx_iface.c' l='52' u='m' c='decoder_init'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vpx/src/vpx_decoder.c' l='53' u='m' c='vpx_codec_dec_init_ver'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vpx/src/vpx_encoder.c' l='53' u='m' c='vpx_codec_enc_init_ver'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vpx/src/vpx_encoder.c' l='111' u='m' c='vpx_codec_enc_init_multi_ver'/>
