<def f='webkit/Source/WebCore/inspector/InspectorOverlay.h' l='171' ll='180'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.h' l='183'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.h' l='216' c='_ZN7WebCore16InspectorOverlay21setGridOverlayForNodeERNS_4NodeERKNS0_4Grid6ConfigE'/>
<size>16</size>
<mbr r='WebCore::InspectorOverlay::Grid::Config::gridColor' o='0' t='WebCore::Color'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showLineNames' o='64' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showLineNumbers' o='72' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showExtendedGridLines' o='80' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showTrackSizes' o='88' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showAreaNames' o='96' t='bool'/>
<dec f='webkit/Source/WebCore/inspector/InspectorOverlay.h' l='183' type='WebCore::InspectorOverlay::Grid::Config'/>
<offset>128</offset>
<def f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/InspectorOverlay.h' l='171' ll='180'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/InspectorOverlay.h' l='183'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/InspectorOverlay.h' l='216' c='_ZN7WebCore16InspectorOverlay21setGridOverlayForNodeERNS_4NodeERKNS0_4Grid6ConfigE'/>
<size>16</size>
<mbr r='WebCore::InspectorOverlay::Grid::Config::gridColor' o='0' t='WebCore::Color'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showLineNames' o='64' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showLineNumbers' o='72' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showExtendedGridLines' o='80' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showTrackSizes' o='88' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showAreaNames' o='96' t='bool'/>
<dec f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/InspectorOverlay.h' l='183' type='WebCore::InspectorOverlay::Grid::Config'/>
<offset>128</offset>
<use f='webkit/Source/WebCore/inspector/agents/InspectorDOMAgent.h' l='219' c='_ZN7WebCore17InspectorDOMAgent36gridOverlayConfigFromInspectorObjectERN3WTF6StringEONS1_6RefPtrINS1_8JSONImpl6ObjectENS1_12RawPtrTraitsIS6_EENS1_21Def16484581'/>
<size>16</size>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='601' c='_ZN7WebCore16InspectorOverlay21setGridOverlayForNodeERNS_4NodeERKNS0_4Grid6ConfigE'/>
<size>16</size>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1749' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1759' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1778' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1786' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1795' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1800' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1844' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1862' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1870' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1879' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1884' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/InspectorOverlay.cpp' l='1910' u='m' c='_ZN7WebCore16InspectorOverlay16buildGridOverlayERKNS0_4GridEb'/>
<use f='webkit/Source/WebCore/inspector/agents/InspectorDOMAgent.cpp' l='1481' c='_ZN7WebCore17InspectorDOMAgent15showGridOverlayEiON3WTF3RefINS1_8JSONImpl6ObjectENS1_12RawPtrTraitsIS4_EEEEONSt3__18optionalIbEESC_SC_SC_SC_'/>
<size>16</size>
