<dec f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/SpeechRecognitionError.h' l='36' type='3'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/SpeechRecognitionError.h' l='83'/>
<dec f='webkit/Source/WebCore/Modules/speech/SpeechRecognitionError.h' l='36' type='3'/>
<use f='webkit/Source/WebCore/Modules/speech/SpeechRecognitionError.h' l='83'/>
<use f='webkit/WebKitBuild/Debug/DerivedSources/WebCore/JSSpeechRecognitionErrorCode.cpp' l='47' u='r' c='_ZN7WebCore26convertEnumerationToStringENS_26SpeechRecognitionErrorTypeE'/>
<use f='webkit/WebKitBuild/Debug/DerivedSources/WebCore/JSSpeechRecognitionErrorCode.cpp' l='71' u='a' c='_ZN7WebCore16parseEnumerationERN3JSC14JSGlobalObjectENS0_7JSValueE'/>
