<def f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NetscapePlugin.h' l='308' ll='333'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NetscapePlugin.h' l='310' c='_ZN6WebKit14NetscapePlugin5TimerC1ERKS1_'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NetscapePlugin.h' l='310' c='_ZN6WebKit14NetscapePlugin5TimeraSERKS1_'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NetscapePlugin.h' l='310' c='_ZN6WebKit14NetscapePlugin5TimeraSERKS1_'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NetscapePlugin.h' l='332'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NetscapePlugin.h' l='334'/>
<size>64</size>
<fun r='_ZN6WebKit14NetscapePlugin5TimerC1ERKS1_'/>
<fun r='_ZN6WebKit14NetscapePlugin5TimerC1EPS0_jjbPFvP4_NPPjE'/>
<fun r='_ZN6WebKit14NetscapePlugin5TimerD1Ev'/>
<fun r='_ZN6WebKit14NetscapePlugin5Timer5startEv'/>
<fun r='_ZN6WebKit14NetscapePlugin5Timer4stopEv'/>
<fun r='_ZN6WebKit14NetscapePlugin5Timer10timerFiredEv'/>
<mbr r='WebKit::NetscapePlugin::Timer::m_netscapePlugin' o='0' t='WebKit::NetscapePlugin *'/>
<mbr r='WebKit::NetscapePlugin::Timer::m_timerID' o='64' t='unsigned int'/>
<mbr r='WebKit::NetscapePlugin::Timer::m_interval' o='96' t='unsigned int'/>
<mbr r='WebKit::NetscapePlugin::Timer::m_repeat' o='128' t='bool'/>
<mbr r='WebKit::NetscapePlugin::Timer::m_timerFunc' o='192' t='WebKit::NetscapePlugin::Timer::TimerFunc'/>
<mbr r='WebKit::NetscapePlugin::Timer::m_timer' o='256' t='RunLoop::Timer&lt;Timer&gt;'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NetscapePlugin.cpp' l='358' c='_ZN6WebKit14NetscapePlugin13scheduleTimerEjbPFvP4_NPPjE'/>
<size>64</size>
<fun r='_ZN6WebKit14NetscapePlugin5TimerC1EPS0_jjbPFvP4_NPPjE'/>
<fun r='_ZN6WebKit14NetscapePlugin5TimerD1Ev'/>
<fun r='_ZN6WebKit14NetscapePlugin5Timer5startEv'/>
<fun r='_ZN6WebKit14NetscapePlugin5Timer4stopEv'/>
<fun r='_ZN6WebKit14NetscapePlugin5Timer10timerFiredEv'/>
