<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_decoder_L16.h' l='28' ll='36'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_decoder_L16.h' l='37' c='_ZN6webrtc15AudioDecoderL1611SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_decoder_L16.h' l='40' c='_ZN6webrtc15AudioDecoderL1616MakeAudioDecoderERKNS0_6ConfigENSt3__18optionalINS_16AudioCodecPairIdEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_decoder_L16.cc' l='22' c='_ZN6webrtc15AudioDecoderL1611SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_decoder_L16.cc' l='24' c='_ZN6webrtc15AudioDecoderL1611SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_decoder_L16.cc' l='28' c='_ZN6webrtc15AudioDecoderL1611SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_decoder_L16.cc' l='38' c='_ZN6webrtc15AudioDecoderL1616MakeAudioDecoderERKNS0_6ConfigENSt3__18optionalINS_16AudioCodecPairIdEEE'/>
<size>8</size>
<fun r='_ZNK6webrtc15AudioDecoderL166Config4IsOkEv'/>
<mbr r='webrtc::AudioDecoderL16::Config::sample_rate_hz' o='0' t='int'/>
<mbr r='webrtc::AudioDecoderL16::Config::num_channels' o='32' t='int'/>
