<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_sender_video.h' l='65' ll='85'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_sender_video.h' l='67' c='_ZN6webrtc14RTPSenderVideo6ConfigC1ERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_sender_video.h' l='68' c='_ZN6webrtc14RTPSenderVideo6ConfigC1EOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_sender_video.h' l='87' c='_ZN6webrtc14RTPSenderVideoC1ERKNS0_6ConfigE'/>
<size>80</size>
<fun r='_ZN6webrtc14RTPSenderVideo6ConfigC1Ev'/>
<fun r='_ZN6webrtc14RTPSenderVideo6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc14RTPSenderVideo6ConfigC1EOS1_'/>
<mbr r='webrtc::RTPSenderVideo::Config::clock' o='0' t='webrtc::Clock *'/>
<mbr r='webrtc::RTPSenderVideo::Config::rtp_sender' o='64' t='webrtc::RTPSender *'/>
<mbr r='webrtc::RTPSenderVideo::Config::fec_type' o='128' t='absl::optional&lt;VideoFecGenerator::FecType&gt;'/>
<mbr r='webrtc::RTPSenderVideo::Config::fec_overhead_bytes' o='192' t='size_t'/>
<mbr r='webrtc::RTPSenderVideo::Config::frame_encryptor' o='256' t='webrtc::FrameEncryptorInterface *'/>
<mbr r='webrtc::RTPSenderVideo::Config::require_frame_encryption' o='320' t='bool'/>
<mbr r='webrtc::RTPSenderVideo::Config::enable_retransmit_all_layers' o='328' t='bool'/>
<mbr r='webrtc::RTPSenderVideo::Config::red_payload_type' o='352' t='absl::optional&lt;int&gt;'/>
<mbr r='webrtc::RTPSenderVideo::Config::field_trials' o='448' t='const webrtc::WebRtcKeyValueConfig *'/>
<mbr r='webrtc::RTPSenderVideo::Config::frame_transformer' o='512' t='rtc::scoped_refptr&lt;FrameTransformerInterface&gt;'/>
<mbr r='webrtc::RTPSenderVideo::Config::send_transport_queue' o='576' t='webrtc::TaskQueueBase *'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/rtp_video_sender.cc' l='240' c='_ZN6webrtc12_GLOBAL__N_122CreateRtpStreamSendersEPNS_5ClockERKNS_9RtpConfigERKNS_18RtpSenderObserversEiPNS_9TransportEPNS_21RtcpBandwidthObserverEPNS_12252387'/>
<size>80</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/rtp_rtcp/source/rtp_sender_video.cc' l='147' c='_ZN6webrtc14RTPSenderVideoC1ERKNS0_6ConfigE'/>
<size>80</size>
