<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/controller_manager.h' l='39' ll='47'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/controller_manager.h' l='72' c='_ZN6webrtc21ControllerManagerImplC1ERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/controller_manager.h' l='76' c='_ZN6webrtc21ControllerManagerImplC1ERKNS0_6ConfigENSt3__16vectorINS4_10unique_ptrINS_10ControllerENS4_14default_deleteIS7_EEEENS4_9allocatorISA_EEEERK10259119'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/controller_manager.h' l='103'/>
<size>8</size>
<fun r='_ZN6webrtc21ControllerManagerImpl6ConfigC1Eif'/>
<fun r='_ZN6webrtc21ControllerManagerImpl6ConfigD1Ev'/>
<mbr r='webrtc::ControllerManagerImpl::Config::min_reordering_time_ms' o='0' t='int'/>
<mbr r='webrtc::ControllerManagerImpl::Config::min_reordering_squared_distance' o='32' t='float'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/controller_manager.cc' l='329' c='_ZN6webrtc21ControllerManagerImplC1ERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/controller_manager.cc' l='336' c='_ZN6webrtc21ControllerManagerImplC1ERKNS0_6ConfigENSt3__16vectorINS4_10unique_ptrINS_10ControllerENS4_14default_deleteIS7_EEEENS4_9allocatorISA_EEEERK10259119'/>
<size>8</size>
<fun r='_ZN6webrtc21ControllerManagerImpl6ConfigC1Eif'/>
<fun r='_ZN6webrtc21ControllerManagerImpl6ConfigD1Ev'/>
