<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/g711/audio_encoder_pcm.h' l='26' ll='37'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/g711/audio_encoder_pcm.h' l='51' c='_ZN6webrtc15AudioEncoderPcmC1ERKNS0_6ConfigEi'/>
<ovr f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/g711/audio_encoder_pcm.h' l='79' c='webrtc::AudioEncoderPcmA::Config'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/g711/audio_encoder_pcm.h' l='79'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/g711/audio_encoder_pcm.h' l='80' c='_ZN6webrtc16AudioEncoderPcmA6ConfigC1Ev'/>
<ovr f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/g711/audio_encoder_pcm.h' l='102' c='webrtc::AudioEncoderPcmU::Config'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/g711/audio_encoder_pcm.h' l='102'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/g711/audio_encoder_pcm.h' l='103' c='_ZN6webrtc16AudioEncoderPcmU6ConfigC1Ev'/>
<ovr f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/pcm16b/audio_encoder_pcm16b.h' l='21' c='webrtc::AudioEncoderPcm16B::Config'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/pcm16b/audio_encoder_pcm16b.h' l='21'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/pcm16b/audio_encoder_pcm16b.h' l='23' c='_ZN6webrtc18AudioEncoderPcm16B6ConfigC1Ev'/>
<size>24</size>
<fun r='_ZNK6webrtc15AudioEncoderPcm6Config4IsOkEv'/>
<mbr r='webrtc::AudioEncoderPcm::Config::frame_size_ms' o='0' t='int'/>
<mbr r='webrtc::AudioEncoderPcm::Config::num_channels' o='64' t='size_t'/>
<mbr r='webrtc::AudioEncoderPcm::Config::payload_type' o='128' t='int'/>
<fun r='_ZN6webrtc15AudioEncoderPcm6ConfigC1Ei'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/g711/audio_encoder_pcm.cc' l='24' c='_ZN6webrtc15AudioEncoderPcmC1ERKNS0_6ConfigEi'/>
<size>24</size>
<fun r='_ZNK6webrtc15AudioEncoderPcm6Config4IsOkEv'/>
