<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/quality_scaling_experiment.h' l='34' ll='40'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/quality_scaling_experiment.h' l='53' c='_ZN6webrtc24QualityScalingExperiment9GetConfigEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/utility/quality_scaler.h' l='98'/>
<size>12</size>
<doc f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/quality_scaling_experiment.h' l='33'>// Used by QualityScaler.</doc>
<mbr r='webrtc::QualityScalingExperiment::Config::alpha_high' o='0' t='float'/>
<mbr r='webrtc::QualityScalingExperiment::Config::alpha_low' o='32' t='float'/>
<mbr r='webrtc::QualityScalingExperiment::Config::use_all_drop_reasons' o='64' t='bool'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/quality_scaling_experiment.cc' l='94' c='_ZN6webrtc24QualityScalingExperiment9GetConfigEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/quality_scaling_experiment.cc' l='97' c='_ZN6webrtc24QualityScalingExperiment9GetConfigEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/quality_scaling_experiment.cc' l='99' c='_ZN6webrtc24QualityScalingExperiment9GetConfigEv'/>
<size>12</size>
