<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/include/audio_coding_module.h' l='67' ll='77'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/include/audio_coding_module.h' l='70' c='_ZN6webrtc17AudioCodingModule6ConfigC1ERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/include/audio_coding_module.h' l='79' c='_ZN6webrtc17AudioCodingModule6CreateERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/acm2/acm_receiver.h' l='43' c='_ZN6webrtc4acm211AcmReceiverC1ERKNS_17AudioCodingModule6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/channel_receive.cc' l='64' c='_ZN6webrtc3voe12_GLOBAL__N_19AcmConfigEPNS_12NetEqFactoryEN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEENSt3__18optionalINS_16AudioCodecPairIdEEEmb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/channel_receive.cc' l='70' c='_ZN6webrtc3voe12_GLOBAL__N_19AcmConfigEPNS_12NetEqFactoryEN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEENSt3__18optionalINS_16AudioCodecPairIdEEEmb'/>
<size>80</size>
<fun r='_ZN6webrtc17AudioCodingModule6ConfigC1EN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEE'/>
<fun r='_ZN6webrtc17AudioCodingModule6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc17AudioCodingModule6ConfigD1Ev'/>
<mbr r='webrtc::AudioCodingModule::Config::neteq_config' o='0' t='NetEq::Config'/>
<mbr r='webrtc::AudioCodingModule::Config::clock' o='448' t='webrtc::Clock *'/>
<mbr r='webrtc::AudioCodingModule::Config::decoder_factory' o='512' t='rtc::scoped_refptr&lt;AudioDecoderFactory&gt;'/>
<mbr r='webrtc::AudioCodingModule::Config::neteq_factory' o='576' t='webrtc::NetEqFactory *'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/channel_send.cc' l='481' c='_ZN6webrtc3voe12_GLOBAL__N_111ChannelSendC1EPNS_5ClockEPNS_16TaskQueueFactoryEPNS_13ProcessThreadEPNS_9TransportEPNS_12RtcpRttStatsEPNS_11RtcEventLogE1744415'/>
<size>80</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/acm2/acm_receiver.cc' l='51' c='_ZN6webrtc4acm211AcmReceiverC1ERKNS_17AudioCodingModule6ConfigE'/>
<size>80</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/acm2/audio_coding_module.cc' l='44' c='_ZN6webrtc12_GLOBAL__N_121AudioCodingModuleImplC1ERKNS_17AudioCodingModule6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/acm2/audio_coding_module.cc' l='208' c='_ZN6webrtc12_GLOBAL__N_121AudioCodingModuleImplC1ERKNS_17AudioCodingModule6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/acm2/audio_coding_module.cc' l='619' c='_ZN6webrtc17AudioCodingModule6ConfigC1ERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/acm2/audio_coding_module.cc' l='622' c='_ZN6webrtc17AudioCodingModule6CreateERKNS0_6ConfigE'/>
<size>80</size>
<fun r='_ZN6webrtc17AudioCodingModule6ConfigC1EN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEE'/>
<fun r='_ZN6webrtc17AudioCodingModule6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc17AudioCodingModule6ConfigD1Ev'/>
