<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_decoder_isac_fix.h' l='28'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_decoder_isac_fix.h' l='29' c='_ZN6webrtc19AudioDecoderIsacFix11SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_decoder_isac_fix.h' l='32' c='_ZN6webrtc19AudioDecoderIsacFix16MakeAudioDecoderENS0_6ConfigENSt3__18optionalINS_16AudioCodecPairIdEEE'/>
<size>1</size>
<doc f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_decoder_isac_fix.h' l='28'>// Empty---no config values needed!</doc>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_decoder_isac_fix.cc' l='20' c='_ZN6webrtc19AudioDecoderIsacFix11SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_decoder_isac_fix.cc' l='24' c='_ZN6webrtc19AudioDecoderIsacFix11SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_decoder_isac_fix.cc' l='24' c='_ZN6webrtc19AudioDecoderIsacFix11SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_decoder_isac_fix.cc' l='34' c='_ZN6webrtc19AudioDecoderIsacFix16MakeAudioDecoderENS0_6ConfigENSt3__18optionalINS_16AudioCodecPairIdEEE'/>
<size>1</size>
