<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.h' l='151' ll='268'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.h' l='155' c='_ZN6webrtc18VideoReceiveStream6ConfigC1ERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.h' l='159' c='_ZN6webrtc18VideoReceiveStream6ConfigC1EOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.h' l='161' c='_ZN6webrtc18VideoReceiveStream6ConfigaSEOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.h' l='161' c='_ZN6webrtc18VideoReceiveStream6ConfigaSEOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.h' l='162' c='_ZN6webrtc18VideoReceiveStream6ConfigaSERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.h' l='162' c='_ZN6webrtc18VideoReceiveStream6ConfigaSERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.h' l='166' c='_ZNK6webrtc18VideoReceiveStream6Config4CopyEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.h' l='166' c='_ZNK6webrtc18VideoReceiveStream6Config4CopyEv'/>
<size>232</size>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1Ev'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1EOS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1EPNS_9TransportE'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigaSEOS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigaSERKS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigD1Ev'/>
<fun r='_ZNK6webrtc18VideoReceiveStream6Config4CopyEv'/>
<fun r='_ZNK6webrtc18VideoReceiveStream6Config8ToStringEv'/>
<mbr r='webrtc::VideoReceiveStream::Config::decoders' o='0' t='std::vector&lt;Decoder&gt;'/>
<mbr r='webrtc::VideoReceiveStream::Config::decoder_factory' o='192' t='webrtc::VideoDecoderFactory *'/>
<mbr r='webrtc::VideoReceiveStream::Config::rtp' o='256' t='struct Rtp'/>
<mbr r='webrtc::VideoReceiveStream::Config::rtcp_send_transport' o='1216' t='webrtc::Transport *'/>
<mbr r='webrtc::VideoReceiveStream::Config::renderer' o='1280' t='rtc::VideoSinkInterface&lt;VideoFrame&gt; *'/>
<mbr r='webrtc::VideoReceiveStream::Config::render_delay_ms' o='1344' t='int'/>
<mbr r='webrtc::VideoReceiveStream::Config::enable_prerenderer_smoothing' o='1376' t='bool'/>
<mbr r='webrtc::VideoReceiveStream::Config::sync_group' o='1408' t='std::string'/>
<mbr r='webrtc::VideoReceiveStream::Config::target_delay_ms' o='1600' t='int'/>
<mbr r='webrtc::VideoReceiveStream::Config::frame_decryptor' o='1664' t='rtc::scoped_refptr&lt;webrtc::FrameDecryptorInterface&gt;'/>
<mbr r='webrtc::VideoReceiveStream::Config::crypto_options' o='1728' t='webrtc::CryptoOptions'/>
<mbr r='webrtc::VideoReceiveStream::Config::frame_transformer' o='1792' t='rtc::scoped_refptr&lt;webrtc::FrameTransformerInterface&gt;'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.h' l='113' c='_ZN6webrtc4Call24CreateVideoReceiveStreamENS_18VideoReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/receive_statistics_proxy2.h' l='51' c='_ZN6webrtc8internal22ReceiveStatisticsProxyC1EPKNS_18VideoReceiveStream6ConfigEPNS_5ClockEPNS_13TaskQueueBaseE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver2.h' l='84' c='_ZN6webrtc23RtpVideoStreamReceiver2C1EPNS_13TaskQueueBaseEPNS_5ClockEPNS_9TransportEPNS_12RtcpRttStatsEPNS_12PacketRouterEPKNS_18VideoReceiveStream6Co11634781'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver2.h' l='273'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream2.h' l='97' c='_ZN6webrtc8internal19VideoReceiveStream2C1EPNS_16TaskQueueFactoryEPNS_13TaskQueueBaseEPNS_36RtpStreamReceiverControllerInterfaceEiPNS_12PacketRouterEN14270949'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream2.h' l='104' c='_ZNK6webrtc8internal19VideoReceiveStream26configEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream2.h' l='190'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='95' c='_ZN6webrtc12_GLOBAL__N_114UseSendSideBweERKNS_18VideoReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='116' c='_ZN6webrtc12_GLOBAL__N_124CreateRtcLogStreamConfigERKNS_18VideoReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='279' c='_ZN6webrtc8internal4Call24CreateVideoReceiveStreamENS_18VideoReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='397' c='_ZN6webrtc8internal4Call16ReceiveRtpConfigC1ERKNS_18VideoReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='1027' c='_ZN6webrtc8internal4Call24CreateVideoReceiveStreamENS_18VideoReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='1046' c='_ZN6webrtc8internal4Call24CreateVideoReceiveStreamENS_18VideoReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='1072' c='_ZN6webrtc8internal4Call25DestroyVideoReceiveStreamEPNS_18VideoReceiveStreamE'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/degraded_call.h' l='72' c='_ZN6webrtc12DegradedCall24CreateVideoReceiveStreamENS_18VideoReceiveStream6ConfigE'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/degraded_call.cc' l='229' c='_ZN6webrtc12DegradedCall24CreateVideoReceiveStreamENS_18VideoReceiveStream6ConfigE'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.cc' l='75' c='_ZN6webrtc18VideoReceiveStream6ConfigC1ERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.cc' l='76' c='_ZN6webrtc18VideoReceiveStream6ConfigC1EOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.cc' l='80' c='_ZN6webrtc18VideoReceiveStream6ConfigaSEOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/video_receive_stream.cc' l='80' c='_ZN6webrtc18VideoReceiveStream6ConfigaSEOS1_'/>
<size>232</size>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1EOS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1EPNS_9TransportE'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigaSEOS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigD1Ev'/>
<fun r='_ZNK6webrtc18VideoReceiveStream6Config8ToStringEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.h' l='308' c='_ZNK7cricket18WebRtcVideoChannel20ConfigureReceiverRtpEPN6webrtc18VideoReceiveStream6ConfigEPNS1_20FlexfecReceiveStream6ConfigERKNS_12StreamParamsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.h' l='441' c='_ZN7cricket18WebRtcVideoChannel24WebRtcVideoReceiveStreamC1EPS0_PN6webrtc4CallERKNS_12StreamParamsENS3_18VideoReceiveStream6ConfigEPNS3_19VideoDecoder2946863'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.h' l='503'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='1475' c='_ZN7cricket18WebRtcVideoChannel13AddRecvStreamERKNS_12StreamParamsEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='1497' c='_ZNK7cricket18WebRtcVideoChannel20ConfigureReceiverRtpEPN6webrtc18VideoReceiveStream6ConfigEPNS1_20FlexfecReceiveStream6ConfigERKNS_12StreamParamsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2815' c='_ZN7cricket18WebRtcVideoChannel24WebRtcVideoReceiveStreamC1EPS0_PN6webrtc4CallERKNS_12StreamParamsENS3_18VideoReceiveStream6ConfigEPNS3_19VideoDecoder2946863'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='3017' c='_ZN7cricket18WebRtcVideoChannel24WebRtcVideoReceiveStream25RecreateWebRtcVideoStreamEv'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/receive_statistics_proxy.h' l='45' c='_ZN6webrtc22ReceiveStatisticsProxyC1EPKNS_18VideoReceiveStream6ConfigEPNS_5ClockE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/receive_statistics_proxy.h' l='149'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/receive_statistics_proxy.cc' l='84' c='_ZN6webrtc22ReceiveStatisticsProxyC1EPKNS_18VideoReceiveStream6ConfigEPNS_5ClockE'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/receive_statistics_proxy2.cc' l='102' c='_ZN6webrtc8internal22ReceiveStatisticsProxyC1EPKNS_18VideoReceiveStream6ConfigEPNS_5ClockEPNS_13TaskQueueBaseE'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver.h' l='88' c='_ZN6webrtc22RtpVideoStreamReceiverC1EPNS_5ClockEPNS_9TransportEPNS_12RtcpRttStatsEPNS_12PacketRouterEPKNS_18VideoReceiveStream6ConfigEPNS_17ReceiveSta5622100'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver.h' l='108' c='_ZN6webrtc22RtpVideoStreamReceiverC1EPNS_5ClockEPNS_9TransportEPNS_12RtcpRttStatsEPNS_12PacketRouterEPKNS_18VideoReceiveStream6ConfigEPNS_17ReceiveSta3976075'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver.h' l='317'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver.cc' l='207' c='_ZN6webrtc22RtpVideoStreamReceiverC1EPNS_5ClockEPNS_9TransportEPNS_12RtcpRttStatsEPNS_12PacketRouterEPKNS_18VideoReceiveStream6ConfigEPNS_17ReceiveSta5622100'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver.cc' l='236' c='_ZN6webrtc22RtpVideoStreamReceiverC1EPNS_5ClockEPNS_9TransportEPNS_12RtcpRttStatsEPNS_12PacketRouterEPKNS_18VideoReceiveStream6ConfigEPNS_17ReceiveSta3976075'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver2.cc' l='110' c='_ZN6webrtc12_GLOBAL__N_124MaybeConstructNackModuleEPNS_13TaskQueueBaseERKNS_18VideoReceiveStream6ConfigEPNS_5ClockEPNS_10NackSenderEPNS_21KeyFrameRequestSenderE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/rtp_video_stream_receiver2.cc' l='210' c='_ZN6webrtc23RtpVideoStreamReceiver2C1EPNS_13TaskQueueBaseEPNS_5ClockEPNS_9TransportEPNS_12RtcpRttStatsEPNS_12PacketRouterEPKNS_18VideoReceiveStream6Co11634781'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream.h' l='63' c='_ZN6webrtc8internal18VideoReceiveStreamC1EPNS_16TaskQueueFactoryEPNS_36RtpStreamReceiverControllerInterfaceEiPNS_12PacketRouterENS_18VideoReceiveStrea12344642'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream.h' l='72' c='_ZN6webrtc8internal18VideoReceiveStreamC1EPNS_16TaskQueueFactoryEPNS_36RtpStreamReceiverControllerInterfaceEiPNS_12PacketRouterENS_18VideoReceiveStrea1326497'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream.h' l='78' c='_ZNK6webrtc8internal18VideoReceiveStream6configEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream.h' l='160'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream.cc' l='190' c='_ZN6webrtc8internal18VideoReceiveStreamC1EPNS_16TaskQueueFactoryEPNS_36RtpStreamReceiverControllerInterfaceEiPNS_12PacketRouterENS_18VideoReceiveStrea12344642'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream.cc' l='273' c='_ZN6webrtc8internal18VideoReceiveStreamC1EPNS_16TaskQueueFactoryEPNS_36RtpStreamReceiverControllerInterfaceEiPNS_12PacketRouterENS_18VideoReceiveStrea1326497'/>
<size>232</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream2.cc' l='197' c='_ZN6webrtc8internal24DetermineMaxWaitForFrameERKNS_18VideoReceiveStream6ConfigEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_receive_stream2.cc' l='220' c='_ZN6webrtc8internal19VideoReceiveStream2C1EPNS_16TaskQueueFactoryEPNS_13TaskQueueBaseEPNS_36RtpStreamReceiverControllerInterfaceEiPNS_12PacketRouterEN14270949'/>
<size>232</size>
<def f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/video_receive_stream.h' l='151' ll='268'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/video_receive_stream.h' l='155' c='_ZN6webrtc18VideoReceiveStream6ConfigC1ERKS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/video_receive_stream.h' l='159' c='_ZN6webrtc18VideoReceiveStream6ConfigC1EOS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/video_receive_stream.h' l='161' c='_ZN6webrtc18VideoReceiveStream6ConfigaSEOS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/video_receive_stream.h' l='161' c='_ZN6webrtc18VideoReceiveStream6ConfigaSEOS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/video_receive_stream.h' l='162' c='_ZN6webrtc18VideoReceiveStream6ConfigaSERKS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/video_receive_stream.h' l='162' c='_ZN6webrtc18VideoReceiveStream6ConfigaSERKS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/video_receive_stream.h' l='166' c='_ZNK6webrtc18VideoReceiveStream6Config4CopyEv'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/video_receive_stream.h' l='166' c='_ZNK6webrtc18VideoReceiveStream6Config4CopyEv'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/call.h' l='113' c='_ZN6webrtc4Call24CreateVideoReceiveStreamENS_18VideoReceiveStream6ConfigE'/>
<size>232</size>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1Ev'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1EOS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigC1EPNS_9TransportE'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigaSEOS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigaSERKS1_'/>
<fun r='_ZN6webrtc18VideoReceiveStream6ConfigD1Ev'/>
<fun r='_ZNK6webrtc18VideoReceiveStream6Config4CopyEv'/>
<fun r='_ZNK6webrtc18VideoReceiveStream6Config8ToStringEv'/>
<mbr r='webrtc::VideoReceiveStream::Config::decoders' o='0' t='std::vector&lt;Decoder&gt;'/>
<mbr r='webrtc::VideoReceiveStream::Config::decoder_factory' o='192' t='webrtc::VideoDecoderFactory *'/>
<mbr r='webrtc::VideoReceiveStream::Config::rtp' o='256' t='struct Rtp'/>
<mbr r='webrtc::VideoReceiveStream::Config::rtcp_send_transport' o='1216' t='webrtc::Transport *'/>
<mbr r='webrtc::VideoReceiveStream::Config::renderer' o='1280' t='rtc::VideoSinkInterface&lt;VideoFrame&gt; *'/>
<mbr r='webrtc::VideoReceiveStream::Config::render_delay_ms' o='1344' t='int'/>
<mbr r='webrtc::VideoReceiveStream::Config::enable_prerenderer_smoothing' o='1376' t='bool'/>
<mbr r='webrtc::VideoReceiveStream::Config::sync_group' o='1408' t='std::string'/>
<mbr r='webrtc::VideoReceiveStream::Config::target_delay_ms' o='1600' t='int'/>
<mbr r='webrtc::VideoReceiveStream::Config::frame_decryptor' o='1664' t='rtc::scoped_refptr&lt;webrtc::FrameDecryptorInterface&gt;'/>
<mbr r='webrtc::VideoReceiveStream::Config::crypto_options' o='1728' t='webrtc::CryptoOptions'/>
<mbr r='webrtc::VideoReceiveStream::Config::frame_transformer' o='1792' t='rtc::scoped_refptr&lt;webrtc::FrameTransformerInterface&gt;'/>
