<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_encoder_L16.h' l='28' ll='38'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_encoder_L16.h' l='39' c='_ZN6webrtc15AudioEncoderL1611SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_encoder_L16.h' l='41' c='_ZN6webrtc15AudioEncoderL1617QueryAudioEncoderERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_encoder_L16.h' l='43' c='_ZN6webrtc15AudioEncoderL1616MakeAudioEncoderERKNS0_6ConfigEiNSt3__18optionalINS_16AudioCodecPairIdEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_encoder_L16.cc' l='24' c='_ZN6webrtc15AudioEncoderL1611SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_encoder_L16.cc' l='29' c='_ZN6webrtc15AudioEncoderL1611SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_encoder_L16.cc' l='40' c='_ZN6webrtc15AudioEncoderL1611SdpToConfigERKNS_14SdpAudioFormatE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_encoder_L16.cc' l='50' c='_ZN6webrtc15AudioEncoderL1617QueryAudioEncoderERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/L16/audio_encoder_L16.cc' l='58' c='_ZN6webrtc15AudioEncoderL1616MakeAudioEncoderERKNS0_6ConfigEiNSt3__18optionalINS_16AudioCodecPairIdEEE'/>
<size>12</size>
<fun r='_ZNK6webrtc15AudioEncoderL166Config4IsOkEv'/>
<mbr r='webrtc::AudioEncoderL16::Config::sample_rate_hz' o='0' t='int'/>
<mbr r='webrtc::AudioEncoderL16::Config::num_channels' o='32' t='int'/>
<mbr r='webrtc::AudioEncoderL16::Config::frame_size_ms' o='64' t='int'/>
