<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.h' l='119' ll='143'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.h' l='121' c='_ZN6webrtc5NetEq6ConfigC1ERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.h' l='122' c='_ZN6webrtc5NetEq6ConfigC1EOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.h' l='124' c='_ZN6webrtc5NetEq6ConfigaSERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.h' l='124' c='_ZN6webrtc5NetEq6ConfigaSERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.h' l='125' c='_ZN6webrtc5NetEq6ConfigaSEOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.h' l='125' c='_ZN6webrtc5NetEq6ConfigaSEOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.h' l='190' c='_ZN6webrtc5NetEq6CreateERKNS0_6ConfigEPNS_5ClockERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq_factory.h' l='31' c='_ZNK6webrtc12NetEqFactory11CreateNetEqERKNS_5NetEq6ConfigERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEEPNS_5ClockE'/>
<size>56</size>
<fun r='_ZN6webrtc5NetEq6ConfigC1Ev'/>
<fun r='_ZN6webrtc5NetEq6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc5NetEq6ConfigC1EOS1_'/>
<fun r='_ZN6webrtc5NetEq6ConfigD1Ev'/>
<fun r='_ZN6webrtc5NetEq6ConfigaSERKS1_'/>
<fun r='_ZN6webrtc5NetEq6ConfigaSEOS1_'/>
<fun r='_ZNK6webrtc5NetEq6Config8ToStringEv'/>
<mbr r='webrtc::NetEq::Config::sample_rate_hz' o='0' t='int'/>
<mbr r='webrtc::NetEq::Config::enable_post_decode_vad' o='32' t='bool'/>
<mbr r='webrtc::NetEq::Config::max_packets_in_buffer' o='64' t='size_t'/>
<mbr r='webrtc::NetEq::Config::max_delay_ms' o='128' t='int'/>
<mbr r='webrtc::NetEq::Config::min_delay_ms' o='160' t='int'/>
<mbr r='webrtc::NetEq::Config::enable_fast_accelerate' o='192' t='bool'/>
<mbr r='webrtc::NetEq::Config::enable_muted_state' o='200' t='bool'/>
<mbr r='webrtc::NetEq::Config::enable_rtx_handling' o='208' t='bool'/>
<mbr r='webrtc::NetEq::Config::codec_pair_id' o='256' t='absl::optional&lt;AudioCodecPairId&gt;'/>
<mbr r='webrtc::NetEq::Config::for_test_no_time_stretching' o='384' t='bool'/>
<mbr r='webrtc::NetEq::Config::extra_output_delay_ms' o='416' t='int'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/custom_neteq_factory.h' l='35' c='_ZNK6webrtc18CustomNetEqFactory11CreateNetEqERKNS_5NetEq6ConfigERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEEPNS_5ClockE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/neteq/neteq_impl.h' l='99' c='_ZN6webrtc9NetEqImpl12DependenciesC1ERKNS_5NetEq6ConfigEPNS_5ClockERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEERKNS_22NetEqControllerFactoryE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/neteq/neteq_impl.h' l='121' c='_ZN6webrtc9NetEqImplC1ERKNS_5NetEq6ConfigEONS0_12DependenciesEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/custom_neteq_factory.cc' l='26' c='_ZNK6webrtc18CustomNetEqFactory11CreateNetEqERKNS_5NetEq6ConfigERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEEPNS_5ClockE'/>
<size>56</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.cc' l='18' c='_ZN6webrtc5NetEq6ConfigC1ERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.cc' l='19' c='_ZN6webrtc5NetEq6ConfigC1EOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.cc' l='21' c='_ZN6webrtc5NetEq6ConfigaSERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.cc' l='21' c='_ZN6webrtc5NetEq6ConfigaSERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.cc' l='22' c='_ZN6webrtc5NetEq6ConfigaSEOS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/neteq/neteq.cc' l='22' c='_ZN6webrtc5NetEq6ConfigaSEOS1_'/>
<size>56</size>
<fun r='_ZN6webrtc5NetEq6ConfigC1Ev'/>
<fun r='_ZN6webrtc5NetEq6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc5NetEq6ConfigC1EOS1_'/>
<fun r='_ZN6webrtc5NetEq6ConfigD1Ev'/>
<fun r='_ZN6webrtc5NetEq6ConfigaSERKS1_'/>
<fun r='_ZN6webrtc5NetEq6ConfigaSEOS1_'/>
<fun r='_ZNK6webrtc5NetEq6Config8ToStringEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/include/audio_coding_module.h' l='73'/>
<size>56</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/neteq/default_neteq_factory.h' l='32' c='_ZNK6webrtc19DefaultNetEqFactory11CreateNetEqERKNS_5NetEq6ConfigERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEEPNS_5ClockE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/acm2/acm_receiver.cc' l='40' c='_ZN6webrtc4acm212_GLOBAL__N_111CreateNetEqEPNS_12NetEqFactoryERKNS_5NetEq6ConfigEPNS_5ClockERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEE'/>
<size>56</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/neteq/default_neteq_factory.cc' l='23' c='_ZNK6webrtc19DefaultNetEqFactory11CreateNetEqERKNS_5NetEq6ConfigERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEEPNS_5ClockE'/>
<size>56</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/neteq/neteq_impl.cc' l='98' c='_ZN6webrtc9NetEqImpl12DependenciesC1ERKNS_5NetEq6ConfigEPNS_5ClockERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEERKNS_22NetEqControllerFactoryE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/neteq/neteq_impl.cc' l='127' c='_ZN6webrtc9NetEqImplC1ERKNS_5NetEq6ConfigEONS0_12DependenciesEb'/>
<size>56</size>
<def f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/neteq/neteq.h' l='119' ll='143'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/neteq/neteq.h' l='121' c='_ZN6webrtc5NetEq6ConfigC1ERKS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/neteq/neteq.h' l='122' c='_ZN6webrtc5NetEq6ConfigC1EOS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/neteq/neteq.h' l='124' c='_ZN6webrtc5NetEq6ConfigaSERKS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/neteq/neteq.h' l='124' c='_ZN6webrtc5NetEq6ConfigaSERKS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/neteq/neteq.h' l='125' c='_ZN6webrtc5NetEq6ConfigaSEOS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/neteq/neteq.h' l='125' c='_ZN6webrtc5NetEq6ConfigaSEOS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/neteq/neteq.h' l='190' c='_ZN6webrtc5NetEq6CreateERKNS0_6ConfigEPNS_5ClockERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEE'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/neteq/neteq_factory.h' l='31' c='_ZNK6webrtc12NetEqFactory11CreateNetEqERKNS_5NetEq6ConfigERKN3rtc13scoped_refptrINS_19AudioDecoderFactoryEEEPNS_5ClockE'/>
<size>56</size>
<fun r='_ZN6webrtc5NetEq6ConfigC1Ev'/>
<fun r='_ZN6webrtc5NetEq6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc5NetEq6ConfigC1EOS1_'/>
<fun r='_ZN6webrtc5NetEq6ConfigD1Ev'/>
<fun r='_ZN6webrtc5NetEq6ConfigaSERKS1_'/>
<fun r='_ZN6webrtc5NetEq6ConfigaSEOS1_'/>
<fun r='_ZNK6webrtc5NetEq6Config8ToStringEv'/>
<mbr r='webrtc::NetEq::Config::sample_rate_hz' o='0' t='int'/>
<mbr r='webrtc::NetEq::Config::enable_post_decode_vad' o='32' t='bool'/>
<mbr r='webrtc::NetEq::Config::max_packets_in_buffer' o='64' t='size_t'/>
<mbr r='webrtc::NetEq::Config::max_delay_ms' o='128' t='int'/>
<mbr r='webrtc::NetEq::Config::min_delay_ms' o='160' t='int'/>
<mbr r='webrtc::NetEq::Config::enable_fast_accelerate' o='192' t='bool'/>
<mbr r='webrtc::NetEq::Config::enable_muted_state' o='200' t='bool'/>
<mbr r='webrtc::NetEq::Config::enable_rtx_handling' o='208' t='bool'/>
<mbr r='webrtc::NetEq::Config::codec_pair_id' o='256' t='absl::optional&lt;AudioCodecPairId&gt;'/>
<mbr r='webrtc::NetEq::Config::for_test_no_time_stretching' o='384' t='bool'/>
<mbr r='webrtc::NetEq::Config::extra_output_delay_ms' o='416' t='int'/>
