<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/logging/rtc_event_log/events/rtc_event_audio_send_stream_config.h' l='45' u='w' c='_ZN6webrtc21LoggedAudioSendConfigC1ExNS_6rtclog12StreamConfigE'/>
<dec f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/logging/rtc_event_log/events/rtc_event_audio_send_stream_config.h' l='51' type='rtclog::StreamConfig'/>
<offset>64</offset>
