<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/audio_receive_stream.h' l='102' ll='165'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/audio_receive_stream.h' l='168' c='_ZN6webrtc18AudioReceiveStream11ReconfigureERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.h' l='51' c='_ZN6webrtc8internal18AudioReceiveStreamC1EPNS_5ClockEPNS_36RtpStreamReceiverControllerInterfaceEPNS_12PacketRouterEPNS_13ProcessThreadEPNS_12NetEqFact3095013'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.h' l='59' c='_ZN6webrtc8internal18AudioReceiveStreamC1EPNS_5ClockEPNS_36RtpStreamReceiverControllerInterfaceEPNS_12PacketRouterERKNS_18AudioReceiveStream6ConfigERK5079312'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.h' l='71' c='_ZN6webrtc8internal18AudioReceiveStream11ReconfigureERKNS_18AudioReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.h' l='101' c='_ZNK6webrtc8internal18AudioReceiveStream6configEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.h' l='106' c='_ZN6webrtc8internal18AudioReceiveStream15ConfigureStreamEPS1_RKNS_18AudioReceiveStream6ConfigEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.h' l='112'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.cc' l='74' c='_ZN6webrtc8internal12_GLOBAL__N_120CreateChannelReceiveEPNS_5ClockEPNS_10AudioStateEPNS_13ProcessThreadEPNS_12NetEqFactoryERKNS_18AudioReceiveStream6C4891635'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.cc' l='97' c='_ZN6webrtc8internal18AudioReceiveStreamC1EPNS_5ClockEPNS_36RtpStreamReceiverControllerInterfaceEPNS_12PacketRouterEPNS_13ProcessThreadEPNS_12NetEqFact3095013'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.cc' l='117' c='_ZN6webrtc8internal18AudioReceiveStreamC1EPNS_5ClockEPNS_36RtpStreamReceiverControllerInterfaceEPNS_12PacketRouterERKNS_18AudioReceiveStream6ConfigERK5079312'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.cc' l='155' c='_ZN6webrtc8internal18AudioReceiveStream11ReconfigureERKNS_18AudioReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.cc' l='369' c='_ZNK6webrtc8internal18AudioReceiveStream6configEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_receive_stream.cc' l='389' c='_ZN6webrtc8internal18AudioReceiveStream15ConfigureStreamEPS1_RKNS_18AudioReceiveStream6ConfigEb'/>
<size>168</size>
<fun r='_ZN6webrtc18AudioReceiveStream6ConfigC1Ev'/>
<fun r='_ZN6webrtc18AudioReceiveStream6ConfigD1Ev'/>
<fun r='_ZNK6webrtc18AudioReceiveStream6Config8ToStringEv'/>
<mbr r='webrtc::AudioReceiveStream::Config::rtp' o='0' t='struct Rtp'/>
<mbr r='webrtc::AudioReceiveStream::Config::rtcp_send_transport' o='320' t='webrtc::Transport *'/>
<mbr r='webrtc::AudioReceiveStream::Config::jitter_buffer_max_packets' o='384' t='size_t'/>
<mbr r='webrtc::AudioReceiveStream::Config::jitter_buffer_fast_accelerate' o='448' t='bool'/>
<mbr r='webrtc::AudioReceiveStream::Config::jitter_buffer_min_delay_ms' o='480' t='int'/>
<mbr r='webrtc::AudioReceiveStream::Config::jitter_buffer_enable_rtx_handling' o='512' t='bool'/>
<mbr r='webrtc::AudioReceiveStream::Config::sync_group' o='576' t='std::string'/>
<mbr r='webrtc::AudioReceiveStream::Config::decoder_map' o='768' t='std::map&lt;int, SdpAudioFormat&gt;'/>
<mbr r='webrtc::AudioReceiveStream::Config::decoder_factory' o='960' t='rtc::scoped_refptr&lt;AudioDecoderFactory&gt;'/>
<mbr r='webrtc::AudioReceiveStream::Config::codec_pair_id' o='1024' t='absl::optional&lt;AudioCodecPairId&gt;'/>
<mbr r='webrtc::AudioReceiveStream::Config::crypto_options' o='1152' t='webrtc::CryptoOptions'/>
<mbr r='webrtc::AudioReceiveStream::Config::frame_decryptor' o='1216' t='rtc::scoped_refptr&lt;webrtc::FrameDecryptorInterface&gt;'/>
<mbr r='webrtc::AudioReceiveStream::Config::frame_transformer' o='1280' t='rtc::scoped_refptr&lt;webrtc::FrameTransformerInterface&gt;'/>
<fun r='_ZNK6webrtc18AudioReceiveStream6Config8ToStringEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.h' l='99' c='_ZN6webrtc4Call24CreateAudioReceiveStreamERKNS_18AudioReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='99' c='_ZN6webrtc12_GLOBAL__N_114UseSendSideBweERKNS_18AudioReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='151' c='_ZN6webrtc12_GLOBAL__N_124CreateRtcLogStreamConfigERKNS_18AudioReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='265' c='_ZN6webrtc8internal4Call24CreateAudioReceiveStreamERKNS_18AudioReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='394' c='_ZN6webrtc8internal4Call16ReceiveRtpConfigC1ERKNS_18AudioReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='862' c='_ZN6webrtc8internal4Call24CreateAudioReceiveStreamERKNS_18AudioReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='903' c='_ZN6webrtc8internal4Call25DestroyAudioReceiveStreamEPNS_18AudioReceiveStreamE'/>
<size>168</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/degraded_call.h' l='59' c='_ZN6webrtc12DegradedCall24CreateAudioReceiveStreamERKNS_18AudioReceiveStream6ConfigE'/>
<size>168</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/degraded_call.cc' l='179' c='_ZN6webrtc12DegradedCall24CreateAudioReceiveStreamERKNS_18AudioReceiveStream6ConfigE'/>
<size>168</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_voice_engine.cc' l='1370'/>
<size>168</size>
<def f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/audio_receive_stream.h' l='102' ll='165'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/audio_receive_stream.h' l='168' c='_ZN6webrtc18AudioReceiveStream11ReconfigureERKNS0_6ConfigE'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/call.h' l='99' c='_ZN6webrtc4Call24CreateAudioReceiveStreamERKNS_18AudioReceiveStream6ConfigE'/>
<size>168</size>
<fun r='_ZN6webrtc18AudioReceiveStream6ConfigC1Ev'/>
<fun r='_ZN6webrtc18AudioReceiveStream6ConfigD1Ev'/>
<fun r='_ZNK6webrtc18AudioReceiveStream6Config8ToStringEv'/>
<mbr r='webrtc::AudioReceiveStream::Config::rtp' o='0' t='struct Rtp'/>
<mbr r='webrtc::AudioReceiveStream::Config::rtcp_send_transport' o='320' t='webrtc::Transport *'/>
<mbr r='webrtc::AudioReceiveStream::Config::jitter_buffer_max_packets' o='384' t='size_t'/>
<mbr r='webrtc::AudioReceiveStream::Config::jitter_buffer_fast_accelerate' o='448' t='bool'/>
<mbr r='webrtc::AudioReceiveStream::Config::jitter_buffer_min_delay_ms' o='480' t='int'/>
<mbr r='webrtc::AudioReceiveStream::Config::jitter_buffer_enable_rtx_handling' o='512' t='bool'/>
<mbr r='webrtc::AudioReceiveStream::Config::sync_group' o='576' t='std::string'/>
<mbr r='webrtc::AudioReceiveStream::Config::decoder_map' o='768' t='std::map&lt;int, SdpAudioFormat&gt;'/>
<mbr r='webrtc::AudioReceiveStream::Config::decoder_factory' o='960' t='rtc::scoped_refptr&lt;AudioDecoderFactory&gt;'/>
<mbr r='webrtc::AudioReceiveStream::Config::codec_pair_id' o='1024' t='absl::optional&lt;AudioCodecPairId&gt;'/>
<mbr r='webrtc::AudioReceiveStream::Config::crypto_options' o='1152' t='webrtc::CryptoOptions'/>
<mbr r='webrtc::AudioReceiveStream::Config::frame_decryptor' o='1216' t='rtc::scoped_refptr&lt;webrtc::FrameDecryptorInterface&gt;'/>
<mbr r='webrtc::AudioReceiveStream::Config::frame_transformer' o='1280' t='rtc::scoped_refptr&lt;webrtc::FrameTransformerInterface&gt;'/>
