<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/pc/jsep_transport_controller.h' l='105' ll='137'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/pc/jsep_transport_controller.h' l='147' c='_ZN6webrtc23JsepTransportControllerC1EPN3rtc6ThreadEPN7cricket13PortAllocatorEPNS_32AsyncDnsResolverFactoryInterfaceENS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/pc/jsep_transport_controller.h' l='479'/>
<size>144</size>
<mbr r='webrtc::JsepTransportController::Config::redetermine_role_on_ice_restart' o='0' t='bool'/>
<mbr r='webrtc::JsepTransportController::Config::ssl_max_version' o='32' t='rtc::SSLProtocolVersion'/>
<mbr r='webrtc::JsepTransportController::Config::crypto_options' o='64' t='webrtc::CryptoOptions'/>
<mbr r='webrtc::JsepTransportController::Config::bundle_policy' o='128' t='PeerConnectionInterface::BundlePolicy'/>
<mbr r='webrtc::JsepTransportController::Config::rtcp_mux_policy' o='160' t='PeerConnectionInterface::RtcpMuxPolicy'/>
<mbr r='webrtc::JsepTransportController::Config::disable_encryption' o='192' t='bool'/>
<mbr r='webrtc::JsepTransportController::Config::enable_external_auth' o='200' t='bool'/>
<mbr r='webrtc::JsepTransportController::Config::ice_transport_factory' o='256' t='webrtc::IceTransportFactory *'/>
<mbr r='webrtc::JsepTransportController::Config::dtls_transport_factory' o='320' t='cricket::DtlsTransportFactory *'/>
<mbr r='webrtc::JsepTransportController::Config::transport_observer' o='384' t='webrtc::JsepTransportController::Observer *'/>
<mbr r='webrtc::JsepTransportController::Config::rtcp_handler' o='448' t='std::function&lt;void (const rtc::CopyOnWriteBuffer &amp;, int64_t)&gt;'/>
<mbr r='webrtc::JsepTransportController::Config::active_reset_srtp_params' o='704' t='bool'/>
<mbr r='webrtc::JsepTransportController::Config::event_log' o='768' t='webrtc::RtcEventLog *'/>
<mbr r='webrtc::JsepTransportController::Config::sctp_factory' o='832' t='webrtc::SctpTransportFactoryInterface *'/>
<mbr r='webrtc::JsepTransportController::Config::on_dtls_handshake_error_' o='896' t='std::function&lt;void (const rtc::SSLHandshakeError)&gt;'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/pc/jsep_transport_controller.cc' l='56' c='_ZN6webrtc23JsepTransportControllerC1EPN3rtc6ThreadEPN7cricket13PortAllocatorEPNS_32AsyncDnsResolverFactoryInterfaceENS0_6ConfigE'/>
<size>144</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/pc/peer_connection.cc' l='658' c='_ZN6webrtc14PeerConnection31InitializeTransportController_nERKNS_23PeerConnectionInterface16RTCConfigurationERKNS_26PeerConnectionDependenciesE'/>
<size>144</size>
