<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream.h' l='37' ll='77'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream.h' l='39' c='_ZN6webrtc20FlexfecReceiveStream6ConfigC1ERKS1_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream.h' l='81' c='_ZNK6webrtc20FlexfecReceiveStream9GetConfigEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.h' l='121' c='_ZN6webrtc4Call26CreateFlexfecReceiveStreamERKNS_20FlexfecReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream_impl.h' l='38' c='_ZN6webrtc24FlexfecReceiveStreamImplC1EPNS_5ClockEPNS_36RtpStreamReceiverControllerInterfaceERKNS_20FlexfecReceiveStream6ConfigEPNS_23RecoveredPacketR10418437'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream_impl.h' l='48' c='_ZNK6webrtc24FlexfecReceiveStreamImpl9GetConfigEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream_impl.h' l='52'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='103' c='_ZN6webrtc12_GLOBAL__N_114UseSendSideBweERKNS_20FlexfecReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='284' c='_ZN6webrtc8internal4Call26CreateFlexfecReceiveStreamERKNS_20FlexfecReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='400' c='_ZN6webrtc8internal4Call16ReceiveRtpConfigC1ERKNS_20FlexfecReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='1091' c='_ZN6webrtc8internal4Call26CreateFlexfecReceiveStreamERKNS_20FlexfecReceiveStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='1123' c='_ZN6webrtc8internal4Call27DestroyFlexfecReceiveStreamEPNS_20FlexfecReceiveStreamE'/>
<size>80</size>
<fun r='_ZN6webrtc20FlexfecReceiveStream6ConfigC1EPNS_9TransportE'/>
<fun r='_ZN6webrtc20FlexfecReceiveStream6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc20FlexfecReceiveStream6ConfigD1Ev'/>
<fun r='_ZNK6webrtc20FlexfecReceiveStream6Config8ToStringEv'/>
<fun r='_ZNK6webrtc20FlexfecReceiveStream6Config20IsCompleteAndEnabledEv'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::payload_type' o='0' t='int'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::remote_ssrc' o='32' t='uint32_t'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::protected_media_ssrcs' o='64' t='std::vector&lt;uint32_t&gt;'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::local_ssrc' o='256' t='uint32_t'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::rtcp_mode' o='288' t='webrtc::RtcpMode'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::rtcp_send_transport' o='320' t='webrtc::Transport *'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::transport_cc' o='384' t='bool'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::rtp_header_extensions' o='448' t='std::vector&lt;RtpExtension&gt;'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/degraded_call.h' l='76' c='_ZN6webrtc12DegradedCall26CreateFlexfecReceiveStreamERKNS_20FlexfecReceiveStream6ConfigE'/>
<size>80</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/degraded_call.cc' l='239' c='_ZN6webrtc12DegradedCall26CreateFlexfecReceiveStreamERKNS_20FlexfecReceiveStream6ConfigE'/>
<size>80</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream.cc' l='22' c='_ZN6webrtc20FlexfecReceiveStream6ConfigC1ERKS1_'/>
<size>80</size>
<fun r='_ZN6webrtc20FlexfecReceiveStream6ConfigC1EPNS_9TransportE'/>
<fun r='_ZN6webrtc20FlexfecReceiveStream6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc20FlexfecReceiveStream6ConfigD1Ev'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream_impl.cc' l='84' c='_ZN6webrtc12_GLOBAL__N_126MaybeCreateFlexfecReceiverEPNS_5ClockERKNS_20FlexfecReceiveStream6ConfigEPNS_23RecoveredPacketReceiverE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream_impl.cc' l='124' c='_ZN6webrtc12_GLOBAL__N_119CreateRtpRtcpModuleEPNS_5ClockEPNS_17ReceiveStatisticsERKNS_20FlexfecReceiveStream6ConfigEPNS_12RtcpRttStatsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream_impl.cc' l='142' c='_ZN6webrtc24FlexfecReceiveStreamImplC1EPNS_5ClockEPNS_36RtpStreamReceiverControllerInterfaceERKNS_20FlexfecReceiveStream6ConfigEPNS_23RecoveredPacketR10418437'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/flexfec_receive_stream_impl.cc' l='200' c='_ZNK6webrtc24FlexfecReceiveStreamImpl9GetConfigEv'/>
<size>80</size>
<fun r='_ZNK6webrtc20FlexfecReceiveStream6Config8ToStringEv'/>
<fun r='_ZNK6webrtc20FlexfecReceiveStream6Config20IsCompleteAndEnabledEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.h' l='309' c='_ZNK7cricket18WebRtcVideoChannel20ConfigureReceiverRtpEPN6webrtc18VideoReceiveStream6ConfigEPNS1_20FlexfecReceiveStream6ConfigERKNS_12StreamParamsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.h' l='445' c='_ZN7cricket18WebRtcVideoChannel24WebRtcVideoReceiveStreamC1EPS0_PN6webrtc4CallERKNS_12StreamParamsENS3_18VideoReceiveStream6ConfigEPNS3_19VideoDecoder2946863'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.h' l='504'/>
<size>80</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='1476' c='_ZN7cricket18WebRtcVideoChannel13AddRecvStreamERKNS_12StreamParamsEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='1498' c='_ZNK7cricket18WebRtcVideoChannel20ConfigureReceiverRtpEPN6webrtc18VideoReceiveStream6ConfigEPNS1_20FlexfecReceiveStream6ConfigERKNS_12StreamParamsE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='2819' c='_ZN7cricket18WebRtcVideoChannel24WebRtcVideoReceiveStreamC1EPS0_PN6webrtc4CallERKNS_12StreamParamsENS3_18VideoReceiveStream6ConfigEPNS3_19VideoDecoder2946863'/>
<size>80</size>
<def f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/flexfec_receive_stream.h' l='37' ll='77'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/flexfec_receive_stream.h' l='39' c='_ZN6webrtc20FlexfecReceiveStream6ConfigC1ERKS1_'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/flexfec_receive_stream.h' l='81' c='_ZNK6webrtc20FlexfecReceiveStream9GetConfigEv'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/call.h' l='121' c='_ZN6webrtc4Call26CreateFlexfecReceiveStreamERKNS_20FlexfecReceiveStream6ConfigE'/>
<size>80</size>
<fun r='_ZN6webrtc20FlexfecReceiveStream6ConfigC1EPNS_9TransportE'/>
<fun r='_ZN6webrtc20FlexfecReceiveStream6ConfigC1ERKS1_'/>
<fun r='_ZN6webrtc20FlexfecReceiveStream6ConfigD1Ev'/>
<fun r='_ZNK6webrtc20FlexfecReceiveStream6Config8ToStringEv'/>
<fun r='_ZNK6webrtc20FlexfecReceiveStream6Config20IsCompleteAndEnabledEv'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::payload_type' o='0' t='int'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::remote_ssrc' o='32' t='uint32_t'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::protected_media_ssrcs' o='64' t='std::vector&lt;uint32_t&gt;'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::local_ssrc' o='256' t='uint32_t'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::rtcp_mode' o='288' t='webrtc::RtcpMode'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::rtcp_send_transport' o='320' t='webrtc::Transport *'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::transport_cc' o='384' t='bool'/>
<mbr r='webrtc::FlexfecReceiveStream::Config::rtp_header_extensions' o='448' t='std::vector&lt;RtpExtension&gt;'/>
