<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/codec_timer.h' l='33' ll='37'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/video_coding/codec_timer.h' l='42'/>
<size>16</size>
<fun r='_ZN6webrtc13VCMCodecTimer6SampleC1Exx'/>
<mbr r='webrtc::VCMCodecTimer::Sample::decode_time_ms' o='0' t='int64_t'/>
<mbr r='webrtc::VCMCodecTimer::Sample::sample_time_ms' o='64' t='int64_t'/>
