<inh f='webkit/WebKitBuild/Debug/usr/local/include/wtf/RunLoop.h' l='121' c='WTF::RunLoop::TimerBase'/>
<def f='webkit/WebKitBuild/Debug/usr/local/include/wtf/RunLoop.h' l='171' ll='191'/>
<use f='webkit/Source/JavaScriptCore/runtime/JSRunLoopTimer.h' l='77'/>
<fun r='_ZN3WTF7RunLoop5TimerC1ERS0_PT_MS3_FvvE'/>
<fun r='_ZN3WTF7RunLoop5TimerC1ERS0_ONS_8FunctionIFvvEEE'/>
<fun r='_ZN3WTF7RunLoop5Timer5firedEv'/>
<mbr r='WTF::RunLoop::Timer::m_function' t='Function&lt;void ()&gt;'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/wtf/MemoryPressureHandler.h' l='195'/>
<use f='webkit/Source/WTF/wtf/MemoryPressureHandler.cpp' l='75' c='_ZN3WTF21MemoryPressureHandler33setShouldUsePeriodicMemoryMonitorEb'/>
<use f='webkit/Source/WebCore/platform/graphics/MediaPlaybackTargetPicker.h' l='86'/>
<use f='webkit/Source/WebCore/Modules/airplay/WebMediaSessionManager.h' l='106'/>
<use f='webkit/Source/WebCore/Modules/airplay/WebMediaSessionManager.h' l='107'/>
<use f='webkit/Source/WebCore/platform/mediastream/RealtimeMediaSourceCenter.h' l='123'/>
<use f='webkit/Source/WebCore/platform/mock/MockAudioDestinationCocoa.h' l='56'/>
<use f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/JSRunLoopTimer.h' l='77'/>
<use f='webkit/Source/WebCore/platform/mock/MockRealtimeAudioSource.h' l='82'/>
<use f='webkit/Source/WebCore/platform/mock/MockRealtimeVideoSource.h' l='115'/>
<use f='webkit/Source/WebKit/Platform/IPC/Connection.h' l='383'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/pal/HysteresisActivity.h' l='94'/>
<use f='webkit/Source/WebKit/Shared/AuxiliaryProcess.h' l='152'/>
<use f='webkit/Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h' l='282'/>
<use f='webkit/Source/WebKit/Shared/SharedStringHashStore.h' l='74'/>
<use f='webkit/Source/WebKit/PluginProcess/PluginProcess.h' l='125'/>
<use f='webkit/Source/WebKit/PluginProcess/PluginControllerProxy.h' l='193'/>
<use f='webkit/Source/WebKit/PluginProcess/PluginControllerProxy.h' l='200'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NetscapePlugin.h' l='332'/>
<use f='webkit/Source/WebKit/UIProcess/Automation/SimulatedInputDispatcher.h' l='179'/>
<use f='webkit/Source/WebKit/UIProcess/Automation/WebAutomationSession.h' l='331'/>
<use f='webkit/Source/WebKit/UIProcess/ProcessThrottler.h' l='121'/>
<use f='webkit/Source/WebKit/UIProcess/ProcessThrottler.h' l='153'/>
<use f='webkit/Source/WebKit/UIProcess/Inspector/WebInspectorUIProxy.h' l='315'/>
<use f='webkit/Source/WebKit/UIProcess/SuspendedPageProxy.h' l='115'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/RealtimeMediaSourceCenter.h' l='123'/>
<use f='webkit/Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.h' l='159'/>
<use f='webkit/Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.h' l='168'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/MediaPlaybackTargetPicker.h' l='86'/>
<use f='webkit/Source/WebKit/UIProcess/WebPageProxy.h' l='2918'/>
<use f='webkit/Source/WebKit/UIProcess/WebPageProxy.h' l='2978'/>
<use f='webkit/Source/WebKit/UIProcess/WebPageProxy.h' l='2984'/>
<use f='webkit/Source/WebKit/UIProcess/ResponsivenessTimer.h' l='84'/>
<use f='webkit/Source/WebKit/UIProcess/BackgroundProcessResponsivenessTimer.h' l='59'/>
<use f='webkit/Source/WebKit/UIProcess/BackgroundProcessResponsivenessTimer.h' l='60'/>
<use f='webkit/Source/WebKit/UIProcess/WebProcessPool.h' l='696'/>
<use f='webkit/Source/WebKit/UIProcess/WebProcessPool.h' l='699'/>
<use f='webkit/Source/WebKit/WebProcess/WebPage/WebPage.h' l='2016'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NPRuntimeObjectMap.h' l='100'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/PluginView.h' l='247'/>
<use f='webkit/Source/WebKit/WebProcess/Plugins/Netscape/NetscapePluginStream.h' l='105'/>
<use f='webkit/Source/WebKit/WebProcess/Network/WebLoaderStrategy.h' l='129'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/TextIndicatorWindow.h' l='65'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/WebMediaSessionManager.h' l='106'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/WebMediaSessionManager.h' l='107'/>
<use f='webkit/Source/WebCore/platform/graphics/cg/IOSurfacePool.h' l='107'/>
<use f='webkit/Source/WebCore/platform/graphics/cg/SubimageCacheWithTimer.h' l='103'/>
<use f='webkit/Source/WebCore/page/mac/TextIndicatorWindow.h' l='65'/>
<use f='webkit/Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.h' l='110'/>
<use f='webkit/Source/WebCore/page/scrolling/ThreadedScrollingTree.h' l='113'/>
<use f='webkit/Source/WebCore/page/scrolling/mac/ScrollingTreeScrollingNodeDelegateMac.mm' l='227' c='_ZN7WebCore37ScrollingTreeScrollingNodeDelegateMac22startAnimationCallbackERNS_16ScrollControllerE'/>
<use f='webkit/Source/WebCore/inspector/agents/WebHeapAgent.cpp' l='56'/>
<use f='webkit/Source/WebCore/platform/gamepad/cocoa/GameControllerGamepadProvider.h' l='89'/>
<use f='webkit/Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp' l='359' c='_ZN7WebCore21ThreadedScrollingTree44scheduleDelayedRenderingUpdateDetectionTimerEN3WTF7SecondsE'/>
<use f='webkit/Source/WebCore/platform/ScrollAnimationSmooth.h' l='114'/>
<use f='webkit/Source/WebCore/platform/graphics/ShadowBlur.cpp' l='155'/>
<use f='webkit/Source/WebCore/platform/mediastream/mac/DisplayCaptureSourceCocoa.h' l='121'/>
<use f='webkit/Source/WebCore/platform/mediastream/mac/MockAudioSharedUnit.h' l='87'/>
<use f='webkit/Source/WebKit/UIProcess/DrawingAreaProxy.h' l='154'/>
<use f='webkit/Source/WebKit/GPUProcess/media/RemoteMediaPlayerProxy.h' l='338'/>
<use f='webkit/Source/WebKit/UIProcess/ViewGestureController.h' l='266'/>
<use f='webkit/Source/WebKit/UIProcess/ViewGestureController.h' l='351'/>
<use f='webkit/Source/WebKit/UIProcess/API/Cocoa/APISerializedScriptValueCocoa.mm' l='66'/>
<use f='webkit/Source/WebKit/UIProcess/Gamepad/UIGamepadProvider.h' l='86'/>
<use f='webkit/Source/WebKit/UIProcess/WebProcessCache.h' l='79'/>
<use f='webkit/Source/WebKit/UIProcess/WebProcessCache.h' l='90'/>
<use f='webkit/Source/WebKit/UIProcess/WebBackForwardCacheEntry.h' l='59'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/GameControllerGamepadProvider.h' l='89'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/IOSurfacePool.h' l='107'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/MockRealtimeAudioSource.h' l='82'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/MockRealtimeVideoSource.h' l='115'/>
<use f='webkit/Source/WebKit/UIProcess/WebAuthentication/AuthenticatorManager.h' l='77' c='_ZN6WebKit20AuthenticatorManager19requestTimeOutTimerEv'/>
<use f='webkit/Source/WebKit/UIProcess/WebAuthentication/AuthenticatorManager.h' l='122'/>
<use f='webkit/Source/WebKit/UIProcess/WebAuthentication/Cocoa/NfcConnection.h' l='63'/>
<use f='webkit/Source/WebKit/UIProcess/WebAuthentication/Cocoa/NfcService.h' l='67'/>
<use f='webkit/Source/WebKit/UIProcess/HighPerformanceGraphicsUsageSampler.h' l='43'/>
<use f='webkit/Source/WebKit/UIProcess/PerActivityStateCPUUsageSampler.h' l='50'/>
<use f='webkit/Source/WebKit/Platform/IPC/cocoa/ConnectionCocoa.mm' l='105'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/ScrollingTreeScrollingNodeDelegateMac.h' l='110'/>
<use f='webkit/Source/WebKit/UIProcess/WebAuthentication/fido/U2fAuthenticator.h' l='72'/>
<use f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/ThreadedScrollingTree.h' l='113'/>
