<dec f='webkit/WebKitBuild/WebKitLegacy.build/Debug/WebKitLegacy.build/DerivedSources/arm64/WebKitPluginClientServer.h' l='711' type='mach_msg_ool_descriptor_t'/>
<offset>352</offset>
<dec f='webkit/WebKitBuild/Debug/usr/local/include/unicode/ucnv_err.h' l='200' type='char *'/>
<dec f='webkit/WebKitBuild/Debug/usr/local/include/unicode/ucnv_err.h' l='216' type='UChar *'/>
<offset>256</offset>
<doc f='webkit/WebKitBuild/Debug/usr/local/include/unicode/ucnv_err.h' l='200'>/**&lt; Pointer to the target buffer. @stable ICU 2.0    */</doc>
<doc f='webkit/WebKitBuild/Debug/usr/local/include/unicode/ucnv_err.h' l='216'>/**&lt; Pointer to the target buffer. @stable ICU 2.0    */</doc>
<use f='webkit/WebKitBuild/WebKitLegacy.build/Debug/WebKitLegacy.build/DerivedSources/arm64/WebKitPluginClientServer.c' l='304' u='m' c='__MIG_check__Request__PCLoadURL_t'/>
<use f='webkit/WebKitBuild/WebKitLegacy.build/Debug/WebKitLegacy.build/DerivedSources/arm64/WebKitPluginClientServer.c' l='316' u='m' c='__MIG_check__Request__PCLoadURL_t'/>
