<dec f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/internal.h' l='1666' type='bssl::SSL_CONFIG *'/>
<offset>64</offset>
<doc f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/internal.h' l='1665'>// config is a non-owning pointer to the handshake configuration.</doc>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handoff.cc' l='112' u='r' c='_ZN4bssl19SSL_decline_handoffEP6ssl_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='197' u='w' c='_ZN4bssl17ssl_handshake_newEP6ssl_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='198' u='r' c='_ZN4bssl17ssl_handshake_newEP6ssl_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='199' u='r' c='_ZN4bssl17ssl_handshake_newEP6ssl_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='361' u='r' c='_ZN4bssl20ssl_verify_peer_certEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='362' u='r' c='_ZN4bssl20ssl_verify_peer_certEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='369' u='r' c='_ZN4bssl20ssl_verify_peer_certEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='393' u='r' c='_ZN4bssl20ssl_verify_peer_certEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='420' u='r' c='_ZN4bssl22ssl_reverify_peer_certEPNS_13SSL_HANDSHAKEEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='424' u='r' c='_ZN4bssl22ssl_reverify_peer_certEPNS_13SSL_HANDSHAKEEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake.cc' l='425' u='r' c='_ZN4bssl22ssl_reverify_peer_certEPNS_13SSL_HANDSHAKEEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_client.cc' l='210' u='r' c='_ZN4bsslL23ssl_get_client_disabledEPNS_13SSL_HANDSHAKEEPjS2_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_client.cc' l='1227' u='r' c='_ZN4bsslL26do_send_client_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_client.cc' l='1228' u='r' c='_ZN4bsslL26do_send_client_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_client.cc' l='1228' u='r' c='_ZN4bsslL26do_send_client_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_client.cc' l='1284' u='r' c='_ZN4bsslL27do_send_client_key_exchangeEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_client.cc' l='1296' u='r' c='_ZN4bsslL27do_send_client_key_exchangeEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_client.cc' l='1303' u='r' c='_ZN4bsslL27do_send_client_key_exchangeEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_client.cc' l='1496' u='r' c='_ZN4bsslL23do_send_client_finishedEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='321' u='r' c='_ZN4bsslL33ssl_get_compatible_server_ciphersEPNS_13SSL_HANDSHAKEEPjS2_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='582' u='r' c='_ZN4bsslL20do_read_client_helloEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='715' u='r' c='_ZN4bsslL30do_read_client_hello_after_echEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='765' u='r' c='_ZN4bsslL21do_select_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='766' u='r' c='_ZN4bsslL21do_select_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='766' u='r' c='_ZN4bsslL21do_select_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='824' u='r' c='_ZN4bsslL21do_select_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='825' u='r' c='_ZN4bsslL21do_select_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='921' u='r' c='_ZN4bsslL20do_select_parametersEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='923' u='r' c='_ZN4bsslL20do_select_parametersEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1070' u='r' c='_ZN4bsslL26do_send_server_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1071' u='r' c='_ZN4bsslL26do_send_server_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1083' u='r' c='_ZN4bsslL26do_send_server_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1095' u='r' c='_ZN4bsslL26do_send_server_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1097' u='r' c='_ZN4bsslL26do_send_server_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1100' u='r' c='_ZN4bsslL26do_send_server_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1273' u='r' c='_ZN4bsslL26do_read_client_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1292' u='r' c='_ZN4bsslL26do_read_client_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1302' u='r' c='_ZN4bsslL26do_read_client_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1477' u='r' c='_ZN4bsslL27do_read_client_key_exchangeEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1485' u='r' c='_ZN4bsslL27do_read_client_key_exchangeEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/handshake_server.cc' l='1781' u='r' c='_ZN4bsslL26do_finish_server_handshakeEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_cert.cc' l='341' u='r' c='_ZN4bssl19ssl_has_certificateEPKNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_cert.cc' l='342' u='r' c='_ZN4bssl19ssl_has_certificateEPKNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_cert.cc' l='421' u='r' c='_ZN4bssl18ssl_add_cert_chainEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_cert.cc' l='681' u='r' c='_ZN4bssl22ssl_add_client_CA_listEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_cert.cc' l='739' u='r' c='_ZN4bssl27ssl_on_certificate_selectedEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_cert.cc' l='742' u='r' c='_ZN4bssl27ssl_on_certificate_selectedEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_cert.cc' l='807' u='r' c='_ZN4bsslL16ssl_can_serve_dcEPKNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='137' u='r' c='_ZN4bssl19ssl_has_private_keyEPKNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='138' u='r' c='_ZN4bssl19ssl_has_private_keyEPKNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='204' u='r' c='_ZN4bssl20ssl_private_key_signEPNS_13SSL_HANDSHAKEEPhPmmtNS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='205' u='r' c='_ZN4bssl20ssl_private_key_signEPNS_13SSL_HANDSHAKEEPhPmmtNS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='208' u='r' c='_ZN4bssl20ssl_private_key_signEPNS_13SSL_HANDSHAKEEPhPmmtNS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='209' u='r' c='_ZN4bssl20ssl_private_key_signEPNS_13SSL_HANDSHAKEEPhPmmtNS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='259' u='r' c='_ZN4bssl23ssl_private_key_decryptEPNS_13SSL_HANDSHAKEEPhPmmNS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='262' u='r' c='_ZN4bssl23ssl_private_key_decryptEPNS_13SSL_HANDSHAKEEPhPmmNS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='264' u='r' c='_ZN4bssl23ssl_private_key_decryptEPNS_13SSL_HANDSHAKEEPhPmmNS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_privkey.cc' l='274' u='r' c='_ZN4bssl23ssl_private_key_decryptEPNS_13SSL_HANDSHAKEEPhPmmNS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_session.cc' l='387' u='r' c='_ZN4bssl19ssl_get_new_sessionEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_session.cc' l='391' u='r' c='_ZN4bssl19ssl_get_new_sessionEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_session.cc' l='392' u='r' c='_ZN4bssl19ssl_get_new_sessionEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_session.cc' l='393' u='r' c='_ZN4bssl19ssl_get_new_sessionEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_session.cc' l='590' u='r' c='_ZN4bssl28ssl_session_is_context_validEPKNS_13SSL_HANDSHAKEEPK14ssl_session_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_session.cc' l='591' u='r' c='_ZN4bssl28ssl_session_is_context_validEPKNS_13SSL_HANDSHAKEEPK14ssl_session_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_session.cc' l='592' u='r' c='_ZN4bssl28ssl_session_is_context_validEPKNS_13SSL_HANDSHAKEEPK14ssl_session_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_session.cc' l='635' u='r' c='_ZN4bssl24ssl_session_is_resumableEPKNS_13SSL_HANDSHAKEEPK14ssl_session_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_versions.cc' l='184' u='r' c='_ZN4bssl21ssl_get_version_rangeEPKNS_13SSL_HANDSHAKEEPtS3_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_versions.cc' l='186' u='r' c='_ZN4bssl21ssl_get_version_rangeEPKNS_13SSL_HANDSHAKEEPtS3_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='373' u='r' c='_ZN4bsslL41ssl_crypto_x509_session_verify_cert_chainEP14ssl_session_stPNS_13SSL_HANDSHAKEEPh'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='374' u='r' c='_ZN4bsslL41ssl_crypto_x509_session_verify_cert_chainEP14ssl_session_stPNS_13SSL_HANDSHAKEEPh'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='389' u='r' c='_ZN4bsslL41ssl_crypto_x509_session_verify_cert_chainEP14ssl_session_stPNS_13SSL_HANDSHAKEEPh'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='394' u='r' c='_ZN4bsslL41ssl_crypto_x509_session_verify_cert_chainEP14ssl_session_stPNS_13SSL_HANDSHAKEEPh'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='395' u='r' c='_ZN4bsslL41ssl_crypto_x509_session_verify_cert_chainEP14ssl_session_stPNS_13SSL_HANDSHAKEEPh'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='409' u='r' c='_ZN4bsslL41ssl_crypto_x509_session_verify_cert_chainEP14ssl_session_stPNS_13SSL_HANDSHAKEEPh'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='424' u='r' c='_ZN4bsslL23ssl_crypto_x509_ssl_newEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='425' u='r' c='_ZN4bsslL23ssl_crypto_x509_ssl_newEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='428' u='r' c='_ZN4bsslL23ssl_crypto_x509_ssl_newEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='447' u='r' c='_ZN4bsslL40ssl_crypto_x509_ssl_auto_chain_if_neededEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='448' u='r' c='_ZN4bsslL40ssl_crypto_x509_ssl_auto_chain_if_neededEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='453' u='r' c='_ZN4bsslL40ssl_crypto_x509_ssl_auto_chain_if_neededEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='473' u='r' c='_ZN4bsslL40ssl_crypto_x509_ssl_auto_chain_if_neededEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/ssl_x509.cc' l='477' u='r' c='_ZN4bsslL40ssl_crypto_x509_ssl_auto_chain_if_neededEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='305' u='r' c='_ZN4bssl18tls1_get_grouplistEPKNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='306' u='r' c='_ZN4bssl18tls1_get_grouplistEPKNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='463' u='r' c='_ZN4bsslL24tls12_get_verify_sigalgsEPKNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='466' u='r' c='_ZN4bsslL24tls12_get_verify_sigalgsEPKNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='704' u='r' c='_ZN4bsslL23ext_ech_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1157' u='r' c='_ZN4bsslL24ext_ocsp_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1221' u='r' c='_ZN4bsslL24ext_ocsp_add_serverhelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1362' u='r' c='_ZN4bsslL23ext_sct_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1389' u='r' c='_ZN4bsslL25ext_sct_parse_serverhelloEPNS_13SSL_HANDSHAKEEPhP6cbs_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1431' u='r' c='_ZN4bsslL23ext_sct_add_serverhelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1441' u='r' c='_ZN4bsslL23ext_sct_add_serverhelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1443' u='r' c='_ZN4bsslL23ext_sct_add_serverhelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1454' u='r' c='_ZN4bsslL24ext_alpn_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1460' u='r' c='_ZN4bsslL24ext_alpn_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1469' u='r' c='_ZN4bsslL24ext_alpn_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1470' u='r' c='_ZN4bsslL24ext_alpn_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1492' u='r' c='_ZN4bsslL26ext_alpn_parse_serverhelloEPNS_13SSL_HANDSHAKEEPhP6cbs_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1545' u='r' c='_ZN4bssl28ssl_is_alpn_protocol_allowedEPKNS_13SSL_HANDSHAKEENS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1555' u='r' c='_ZN4bssl28ssl_is_alpn_protocol_allowedEPKNS_13SSL_HANDSHAKEENS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1672' u='r' c='_ZN4bsslL30ext_channel_id_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1693' u='r' c='_ZN4bsslL32ext_channel_id_parse_serverhelloEPNS_13SSL_HANDSHAKEEPhP6cbs_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='1707' u='r' c='_ZN4bsslL32ext_channel_id_parse_clienthelloEPNS_13SSL_HANDSHAKEEPhP6cbs_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2177' u='r' c='_ZN4bsslL34ssl_get_local_application_settingsEPKNS_13SSL_HANDSHAKEEPNS_4SpanIKhEES5_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2665' u='r' c='_ZN4bsslL33ext_token_binding_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2674' u='r' c='_ZN4bsslL33ext_token_binding_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2675' u='r' c='_ZN4bsslL33ext_token_binding_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2715' u='r' c='_ZN4bsslL35ext_token_binding_parse_serverhelloEPNS_13SSL_HANDSHAKEEPhP6cbs_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2733' u='r' c='_ZN4bsslL15select_tb_paramEPNS_13SSL_HANDSHAKEENS_4SpanIKhEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2748' u='r' c='_ZN4bsslL35ext_token_binding_parse_clienthelloEPNS_13SSL_HANDSHAKEEPhP6cbs_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2804' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_clienthello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2807' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_clienthello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2815' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_clienthello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2821' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_clienthello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2828' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_clienthello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2829' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_clienthello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2853' u='r' c='_ZN4bsslL48ext_quic_transport_params_parse_serverhello_implEPNS_13SSL_HANDSHAKEEPhP6cbs_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2867' u='r' c='_ZN4bsslL48ext_quic_transport_params_parse_serverhello_implEPNS_13SSL_HANDSHAKEEPhP6cbs_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2890' u='r' c='_ZN4bsslL48ext_quic_transport_params_parse_clienthello_implEPNS_13SSL_HANDSHAKEEPhP6cbs_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2899' u='r' c='_ZN4bsslL48ext_quic_transport_params_parse_clienthello_implEPNS_13SSL_HANDSHAKEEPhP6cbs_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2918' u='r' c='_ZN4bsslL48ext_quic_transport_params_parse_clienthello_implEPNS_13SSL_HANDSHAKEEPhP6cbs_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2946' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_serverhello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2951' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_serverhello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2957' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_serverhello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2964' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_serverhello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='2965' u='r' c='_ZN4bsslL46ext_quic_transport_params_add_serverhello_implEPNS_13SSL_HANDSHAKEEP6cbb_stb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='3130' u='r' c='_ZN4bsslL24ext_alps_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='3132' u='r' c='_ZN4bsslL24ext_alps_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='3145' u='r' c='_ZN4bsslL24ext_alps_add_clienthelloEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='3164' u='r' c='_ZN4bsslL26ext_alps_parse_serverhelloEPNS_13SSL_HANDSHAKEEPhP6cbs_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='3165' u='r' c='_ZN4bsslL26ext_alps_parse_serverhelloEPNS_13SSL_HANDSHAKEEPhP6cbs_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='4156' u='r' c='_ZN4bssl31tls1_choose_signature_algorithmEPNS_13SSL_HANDSHAKEEPt'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='4286' u='r' c='_ZN4bssl21tls1_write_channel_idEPNS_13SSL_HANDSHAKEEP6cbb_st'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/t1_lib.cc' l='4387' u='r' c='_ZN4bssl26ssl_do_channel_id_callbackEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_both.cc' l='194' u='r' c='_ZN4bssl25tls13_process_certificateEPNS_13SSL_HANDSHAKEERKNS_10SSLMessageEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_both.cc' l='255' u='r' c='_ZN4bssl25tls13_process_certificateEPNS_13SSL_HANDSHAKEERKNS_10SSLMessageEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_both.cc' l='283' u='r' c='_ZN4bssl25tls13_process_certificateEPNS_13SSL_HANDSHAKEERKNS_10SSLMessageEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_both.cc' l='414' u='r' c='_ZN4bssl21tls13_add_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_client.cc' l='773' u='r' c='_ZN4bsslL26do_send_client_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_client.cc' l='774' u='r' c='_ZN4bsslL26do_send_client_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_client.cc' l='774' u='r' c='_ZN4bsslL26do_send_client_certificateEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_client.cc' l='830' u='r' c='_ZN4bsslL25do_complete_second_flightEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_server.cc' l='465' u='r' c='_ZN4bsslL17do_select_sessionEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_server.cc' l='500' u='r' c='_ZN4bsslL17do_select_sessionEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_server.cc' l='823' u='r' c='_ZN4bsslL20do_send_server_helloEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_server.cc' l='825' u='r' c='_ZN4bsslL20do_send_server_helloEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_server.cc' l='847' u='r' c='_ZN4bsslL20do_send_server_helloEPNS_13SSL_HANDSHAKEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/ssl/tls13_server.cc' l='1111' u='r' c='_ZN4bsslL26do_read_client_certificateEPNS_13SSL_HANDSHAKEE'/>
