<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Context.h' l='353' c='_ZN2gl7ContextC1EPN3egl7DisplayEPKNS1_6ConfigEPKS0_PNS_14TextureManagerEPNS_16SemaphoreManagerEPNS_18MemoryProgramCacheEjRKNS1_12AttributeMapERKNS1_173847466'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Context.h' l='483' c='_ZNK2gl7Context9getConfigEv'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Context.h' l='722'/>
<def f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='27' ll='80'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='31' c='_ZN3egl6ConfigC1ERKS0_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='32' c='_ZN3egl6ConfigaSERKS0_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='32' c='_ZN3egl6ConfigaSERKS0_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='85'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='93' c='_ZN3egl9ConfigSet3addERKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='94' c='_ZNK3egl9ConfigSet3getEi'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='100' c='_ZNK3egl9ConfigSet8containsEPKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='103' c='_ZNK3egl9ConfigSet6filterERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='135' c='_ZNK3egl7Display10getConfigsERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='136' c='_ZNK3egl7Display12chooseConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='138' c='_ZN3egl7Display19createWindowSurfaceEPKNS_6ConfigEPvRKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='142' c='_ZN3egl7Display20createPbufferSurfaceEPKNS_6ConfigERKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='145' c='_ZN3egl7Display29createPbufferFromClientBufferEPKNS_6ConfigEjPvRKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='150' c='_ZN3egl7Display19createPixmapSurfaceEPKNS_6ConfigEPvRKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='163' c='_ZN3egl7Display13createContextEPKNS_6ConfigEPN2gl7ContextEjRKNS_12AttributeMapEPS6_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='191' c='_ZNK3egl7Display13isValidConfigEPKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='199' c='_ZNK3egl7Display20validateClientBufferEPKNS_6ConfigEjPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='207' c='_ZNK3egl7Display14valdiatePixmapEPNS_6ConfigEPvRKNS_12AttributeMapE'/>
<size>164</size>
<fun r='_ZN3egl6ConfigC1Ev'/>
<fun r='_ZN3egl6ConfigD1Ev'/>
<fun r='_ZN3egl6ConfigC1ERKS0_'/>
<fun r='_ZN3egl6ConfigaSERKS0_'/>
<mbr r='egl::Config::renderTargetFormat' o='0' t='GLenum'/>
<mbr r='egl::Config::depthStencilFormat' o='32' t='GLenum'/>
<mbr r='egl::Config::bufferSize' o='64' t='EGLint'/>
<mbr r='egl::Config::redSize' o='96' t='EGLint'/>
<mbr r='egl::Config::greenSize' o='128' t='EGLint'/>
<mbr r='egl::Config::blueSize' o='160' t='EGLint'/>
<mbr r='egl::Config::luminanceSize' o='192' t='EGLint'/>
<mbr r='egl::Config::alphaSize' o='224' t='EGLint'/>
<mbr r='egl::Config::alphaMaskSize' o='256' t='EGLint'/>
<mbr r='egl::Config::bindToTextureRGB' o='288' t='EGLBoolean'/>
<mbr r='egl::Config::bindToTextureRGBA' o='320' t='EGLBoolean'/>
<mbr r='egl::Config::bindToTextureTarget' o='352' t='EGLenum'/>
<mbr r='egl::Config::colorBufferType' o='384' t='EGLenum'/>
<mbr r='egl::Config::configCaveat' o='416' t='EGLenum'/>
<mbr r='egl::Config::configID' o='448' t='EGLint'/>
<mbr r='egl::Config::conformant' o='480' t='EGLint'/>
<mbr r='egl::Config::depthSize' o='512' t='EGLint'/>
<mbr r='egl::Config::level' o='544' t='EGLint'/>
<mbr r='egl::Config::matchNativePixmap' o='576' t='EGLBoolean'/>
<mbr r='egl::Config::maxPBufferWidth' o='608' t='EGLint'/>
<mbr r='egl::Config::maxPBufferHeight' o='640' t='EGLint'/>
<mbr r='egl::Config::maxPBufferPixels' o='672' t='EGLint'/>
<mbr r='egl::Config::maxSwapInterval' o='704' t='EGLint'/>
<mbr r='egl::Config::minSwapInterval' o='736' t='EGLint'/>
<mbr r='egl::Config::nativeRenderable' o='768' t='EGLBoolean'/>
<mbr r='egl::Config::nativeVisualID' o='800' t='EGLint'/>
<mbr r='egl::Config::nativeVisualType' o='832' t='EGLint'/>
<mbr r='egl::Config::renderableType' o='864' t='EGLint'/>
<mbr r='egl::Config::sampleBuffers' o='896' t='EGLint'/>
<mbr r='egl::Config::samples' o='928' t='EGLint'/>
<mbr r='egl::Config::stencilSize' o='960' t='EGLint'/>
<mbr r='egl::Config::surfaceType' o='992' t='EGLint'/>
<mbr r='egl::Config::transparentType' o='1024' t='EGLenum'/>
<mbr r='egl::Config::transparentRedValue' o='1056' t='EGLint'/>
<mbr r='egl::Config::transparentGreenValue' o='1088' t='EGLint'/>
<mbr r='egl::Config::transparentBlueValue' o='1120' t='EGLint'/>
<mbr r='egl::Config::optimalOrientation' o='1152' t='EGLint'/>
<mbr r='egl::Config::colorComponentType' o='1184' t='EGLenum'/>
<mbr r='egl::Config::recordable' o='1216' t='EGLBoolean'/>
<mbr r='egl::Config::framebufferTarget' o='1248' t='EGLBoolean'/>
<mbr r='egl::Config::yInverted' o='1280' t='EGLBoolean'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='71' c='_ZN3egl6ConfigC1ERKS0_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='73' c='_ZN3egl6ConfigaSERKS0_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='73' c='_ZN3egl6ConfigaSERKS0_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='83' c='_ZN3egl9ConfigSet3addERKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='88' c='_ZN3egl9ConfigSet3addERKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='95' c='_ZNK3egl9ConfigSet3getEi'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='111' c='_ZNK3egl9ConfigSet8containsEPKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='115' c='_ZNK3egl9ConfigSet8containsEPKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='140' c='_ZNK3egl12ConfigSorterclEPKNS_6ConfigES3_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='140' c='_ZNK3egl12ConfigSorterclEPKNS_6ConfigES3_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='142' c='_ZNK3egl12ConfigSorterclERKNS_6ConfigES3_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='142' c='_ZNK3egl12ConfigSorterclERKNS_6ConfigES3_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='204' c='_ZNK3egl12ConfigSorter20wantedComponentsSizeERKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='229' c='_ZNK3egl9ConfigSet6filterERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='231' c='_ZNK3egl9ConfigSet6filterERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Config.cpp' l='236' c='_ZNK3egl9ConfigSet6filterERKNS_12AttributeMapE'/>
<size>164</size>
<fun r='_ZN3egl6ConfigC1Ev'/>
<fun r='_ZN3egl6ConfigD1Ev'/>
<fun r='_ZN3egl6ConfigC1ERKS0_'/>
<fun r='_ZN3egl6ConfigaSERKS0_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.h' l='48' c='_ZN3egl12SurfaceStateC1EPKNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.h' l='54'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.h' l='107' c='_ZNK3egl7Surface9getConfigEv'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.h' l='190' c='_ZN3egl7SurfaceC1EiPKNS_6ConfigERKNS_12AttributeMapEj'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.h' l='264' c='_ZN3egl13WindowSurfaceC1EPN2rx14EGLImplFactoryEPKNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.h' l='274' c='_ZN3egl14PbufferSurfaceC1EPN2rx14EGLImplFactoryEPKNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.h' l='277' c='_ZN3egl14PbufferSurfaceC1EPN2rx14EGLImplFactoryEPKNS_6ConfigEjPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.h' l='290' c='_ZN3egl13PixmapSurfaceC1EPN2rx14EGLImplFactoryEPKNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/queryutils.h' l='273' c='_ZN3egl17QueryConfigAttribEPKNS_6ConfigEiPi'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/EGLImplFactory.h' l='66' c='_ZN2rx14EGLImplFactory13createContextERKN2gl5StateEPNS1_8ErrorSetEPKN3egl6ConfigEPKNS1_7ContextERKNS7_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/DisplayImpl.h' l='85' c='_ZNK2rx11DisplayImpl20validateClientBufferEPKN3egl6ConfigEjPvRKNS1_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/DisplayImpl.h' l='93' c='_ZNK2rx11DisplayImpl14validatePixmapEPN3egl6ConfigEPvRKNS1_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Context.cpp' l='289' c='_ZN2gl7ContextC1EPN3egl7DisplayEPKNS1_6ConfigEPKS0_PNS_14TextureManagerEPNS_16SemaphoreManagerEPNS_18MemoryProgramCacheEjRKNS1_12AttributeMapERKNS1_173847466'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Context.cpp' l='2619' c='_ZNK2gl7Context9getConfigEv'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='982' c='_ZNK3egl7Display10getConfigsERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='987' c='_ZNK3egl7Display12chooseConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='1014' c='_ZN3egl7Display19createWindowSurfaceEPKNS_6ConfigEPvRKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='1041' c='_ZN3egl7Display20createPbufferSurfaceEPKNS_6ConfigERKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='1062' c='_ZN3egl7Display29createPbufferFromClientBufferEPKNS_6ConfigEjPvRKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='1086' c='_ZN3egl7Display19createPixmapSurfaceEPKNS_6ConfigEPvRKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='1172' c='_ZN3egl7Display13createContextEPKNS_6ConfigEPN2gl7ContextEjRKNS_12AttributeMapEPS6_'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='1608' c='_ZNK3egl7Display13isValidConfigEPKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='1787' c='_ZNK3egl7Display20validateClientBufferEPKNS_6ConfigEjPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Display.cpp' l='1803' c='_ZNK3egl7Display14valdiatePixmapEPNS_6ConfigEPvRKNS_12AttributeMapE'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='32' c='_ZN3egl12SurfaceStateC1EPKNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='34' c='_ZN3egl12SurfaceStateC1EPKNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='53' c='_ZN3egl7SurfaceC1EiPKNS_6ConfigERKNS_12AttributeMapEj'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='183' c='_ZN3egl7Surface10initializeEPKNS_7DisplayE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='183' c='_ZN3egl7Surface10initializeEPKNS_7DisplayE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='382' c='_ZNK3egl7Surface9getConfigEv'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='645' c='_ZN3egl13WindowSurfaceC1EPN2rx14EGLImplFactoryEPKNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='656' c='_ZN3egl14PbufferSurfaceC1EPN2rx14EGLImplFactoryEPKNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='664' c='_ZN3egl14PbufferSurfaceC1EPN2rx14EGLImplFactoryEPKNS_6ConfigEjPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='677' c='_ZN3egl13PixmapSurfaceC1EPN2rx14EGLImplFactoryEPKNS_6ConfigEPvRKNS_12AttributeMapE'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/queryutils.cpp' l='3884' c='_ZN3egl17QueryConfigAttribEPKNS_6ConfigEiPi'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/DisplayImpl.cpp' l='52' c='_ZNK2rx11DisplayImpl20validateClientBufferEPKN3egl6ConfigEjPvRKNS1_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/DisplayImpl.cpp' l='70' c='_ZNK2rx11DisplayImpl14validatePixmapEPN3egl6ConfigEPvRKNS1_12AttributeMapE'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/cgl/DisplayCGL.h' l='70' c='_ZN2rx10DisplayCGL13createContextERKN2gl5StateEPNS1_8ErrorSetEPKN3egl6ConfigEPKNS1_7ContextERKNS7_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/cgl/DisplayCGL.h' l='80' c='_ZNK2rx10DisplayCGL20validateClientBufferEPKN3egl6ConfigEjPvRKNS1_12AttributeMapE'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/cgl/DisplayCGL.mm' l='343' c='_ZN2rx10DisplayCGL13createContextERKN2gl5StateEPNS1_8ErrorSetEPKN3egl6ConfigEPKNS1_7ContextERKNS7_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/cgl/DisplayCGL.mm' l='373' c='_ZN2rx10DisplayCGL15generateConfigsEv'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/cgl/DisplayCGL.mm' l='450' c='_ZNK2rx10DisplayCGL20validateClientBufferEPKN3egl6ConfigEjPvRKNS1_12AttributeMapE'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.h' l='55' c='_ZNK2rx10DisplayMtl20validateClientBufferEPKN3egl6ConfigEjPvRKNS1_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.h' l='80' c='_ZN2rx10DisplayMtl13createContextERKN2gl5StateEPNS1_8ErrorSetEPKN3egl6ConfigEPKNS1_7ContextERKNS7_12AttributeMapE'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm' l='232' c='_ZNK2rx10DisplayMtl20validateClientBufferEPKN3egl6ConfigEjPvRKNS1_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm' l='356' c='_ZN2rx10DisplayMtl13createContextERKN2gl5StateEPNS1_8ErrorSetEPKN3egl6ConfigEPKNS1_7ContextERKNS7_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/DisplayMtl.mm' l='494' c='_ZN2rx10DisplayMtl15generateConfigsEv'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.h' l='42' c='_ZN3egl14ValidateConfigEPKNS_7DisplayEPKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.h' l='68' c='_ZN3egl21ValidateCreateContextEPNS_7DisplayEPNS_6ConfigEPN2gl7ContextERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.h' l='73' c='_ZN3egl27ValidateCreateWindowSurfaceEPNS_7DisplayEPNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.h' l='78' c='_ZN3egl28ValidateCreatePbufferSurfaceEPNS_7DisplayEPNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.h' l='83' c='_ZN3egl37ValidateCreatePbufferFromClientBufferEPNS_7DisplayEjPvPNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.h' l='87' c='_ZN3egl27ValidateCreatePixmapSurfaceEPNS_7DisplayEPNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.h' l='237' c='_ZN3egl23ValidateGetConfigAttribEPKNS_7DisplayEPKNS_6ConfigEi'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.h' l='256' c='_ZN3egl38ValidateCreatePlatformWindowSurfaceEXTEPKNS_7DisplayEPKNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.h' l='260' c='_ZN3egl38ValidateCreatePlatformPixmapSurfaceEXTEPKNS_7DisplayEPKNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='1006' c='_ZN3egl14ValidateConfigEPKNS_7DisplayEPKNS_6ConfigE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='1170' c='_ZN3egl21ValidateCreateContextEPNS_7DisplayEPNS_6ConfigEPN2gl7ContextERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='1534' c='_ZN3egl27ValidateCreateWindowSurfaceEPNS_7DisplayEPNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='1659' c='_ZN3egl28ValidateCreatePbufferSurfaceEPNS_7DisplayEPNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='1784' c='_ZN3egl37ValidateCreatePbufferFromClientBufferEPNS_7DisplayEjPvPNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='2029' c='_ZN3egl27ValidateCreatePixmapSurfaceEPNS_7DisplayEPNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='2192' c='_ZN3egl25ValidateCompatibleSurfaceEPKNS_7DisplayEPN2gl7ContextEPKNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='2193' c='_ZN3egl25ValidateCompatibleSurfaceEPKNS_7DisplayEPN2gl7ContextEPKNS_7SurfaceE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='3861' c='_ZN3egl23ValidateGetConfigAttribEPKNS_7DisplayEPKNS_6ConfigEi'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='3913' c='_ZN3egl38ValidateCreatePlatformWindowSurfaceEXTEPKNS_7DisplayEPKNS_6ConfigEPvRKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/validationEGL.cpp' l='3928' c='_ZN3egl38ValidateCreatePlatformPixmapSurfaceEXTEPKNS_7DisplayEPKNS_6ConfigEPvRKNS_12AttributeMapE'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='36' c='_ZN12_GLOBAL__N_111ClipConfigsERKNSt3__16vectorIPKN3egl6ConfigENS0_9allocatorIS5_EEEEPPviPi'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='47' c='_ZN12_GLOBAL__N_111ClipConfigsERKNSt3__16vectorIPKN3egl6ConfigENS0_9allocatorIS5_EEEEPPviPi'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='231' c='EGL_GetConfigAttrib'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='231' c='EGL_GetConfigAttrib'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='256' c='EGL_CreateWindowSurface'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='256' c='EGL_CreateWindowSurface'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='285' c='EGL_CreatePbufferSurface'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='285' c='EGL_CreatePbufferSurface'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='314' c='EGL_CreatePixmapSurface'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='314' c='EGL_CreatePixmapSurface'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='391' c='EGL_CreateContext'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='391' c='EGL_CreateContext'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='727' c='EGL_SwapInterval'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='781' c='EGL_CreatePbufferFromClientBuffer'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='781' c='EGL_CreatePbufferFromClientBuffer'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='1076' c='EGL_CreatePlatformWindowSurface'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='1076' c='EGL_CreatePlatformWindowSurface'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='1108' c='EGL_CreatePlatformPixmapSurface'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl.cpp' l='1108' c='EGL_CreatePlatformPixmapSurface'/>
<size>164</size>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl_ext.cpp' l='221' c='EGL_CreatePlatformWindowSurfaceEXT'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl_ext.cpp' l='221' c='EGL_CreatePlatformWindowSurfaceEXT'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl_ext.cpp' l='249' c='EGL_CreatePlatformPixmapSurfaceEXT'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libGLESv2/entry_points_egl_ext.cpp' l='249' c='EGL_CreatePlatformPixmapSurfaceEXT'/>
<size>164</size>
