<dec f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.h' l='54' type='const egl::Config *'/>
<offset>64</offset>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='34' u='w' c='_ZN3egl12SurfaceStateC1EPKNS_6ConfigERKNS_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='44' u='r' c='_ZN3egl12SurfaceStateD1Ev'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='170' u='r' c='_ZN3egl7Surface10initializeEPKNS_7DisplayE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='181' u='r' c='_ZN3egl7Surface10initializeEPKNS_7DisplayE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='183' u='r' c='_ZN3egl7Surface10initializeEPKNS_7DisplayE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='185' u='r' c='_ZN3egl7Surface10initializeEPKNS_7DisplayE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='186' u='w' c='_ZN3egl7Surface10initializeEPKNS_7DisplayE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='188' u='r' c='_ZN3egl7Surface10initializeEPKNS_7DisplayE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='189' u='r' c='_ZN3egl7Surface10initializeEPKNS_7DisplayE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/Surface.cpp' l='384' u='r' c='_ZNK3egl7Surface9getConfigEv'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/SurfaceMtl.mm' l='250' u='r' c='_ZN2rx10SurfaceMtlC1EPNS_10DisplayMtlERKN3egl12SurfaceStateERKNS3_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/SurfaceMtl.mm' l='254' u='r' c='_ZN2rx10SurfaceMtlC1EPNS_10DisplayMtlERKN3egl12SurfaceStateERKNS3_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/SurfaceMtl.mm' l='256' u='r' c='_ZN2rx10SurfaceMtlC1EPNS_10DisplayMtlERKN3egl12SurfaceStateERKNS3_12AttributeMapE'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/libANGLE/renderer/metal/SurfaceMtl.mm' l='257' u='r' c='_ZN2rx10SurfaceMtlC1EPNS_10DisplayMtlERKN3egl12SurfaceStateERKNS3_12AttributeMapE'/>
