<def f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/GigacageConfig.h' l='46' ll='77'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/GigacageConfig.h' l='89'/>
<size>40</size>
<fun r='_ZNK8Gigacage6Config7basePtrENS_4KindE'/>
<fun r='_ZN8Gigacage6Config10setBasePtrENS_4KindEPv'/>
<mbr r='Gigacage::Config::isPermanentlyFrozen' o='0' t='bool'/>
<mbr r='Gigacage::Config::isEnabled' o='8' t='bool'/>
<mbr r='Gigacage::Config::disablingPrimitiveGigacageIsForbidden' o='16' t='bool'/>
<mbr r='Gigacage::Config::shouldBeEnabled' o='24' t='bool'/>
<mbr r='Gigacage::Config::shouldBeEnabledHasBeenCalled' o='32' t='bool'/>
<mbr r='Gigacage::Config::ensureGigacageHasBeenCalled' o='40' t='bool'/>
<mbr r='Gigacage::Config::start' o='64' t='void *'/>
<mbr r='Gigacage::Config::totalSize' o='128' t='size_t'/>
<mbr r='Gigacage::Config::basePtrs' o='192' t='void *[2]'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/Gigacage.h' l='101' macro='1' c='_ZN8Gigacage9isEnabledEv'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/Gigacage.h' l='115' macro='1' c='_ZN8Gigacage37disablingPrimitiveGigacageIsForbiddenEv'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/Gigacage.h' l='126' macro='1' c='_ZN8Gigacage9isEnabledENS_4KindE'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/Gigacage.h' l='127' macro='1' c='_ZN8Gigacage9isEnabledENS_4KindE'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/Gigacage.h' l='133' macro='1' c='_ZN8Gigacage7basePtrENS_4KindE'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/Gigacage.h' l='139' macro='1' c='_ZN8Gigacage16addressOfBasePtrENS_4KindE'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/Gigacage.h' l='203' macro='1' c='_ZN8Gigacage8containsEPKv'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/bmalloc/Gigacage.h' l='205' macro='1' c='_ZN8Gigacage8containsEPKv'/>
<size>40</size>
<use f='webkit/WebKitBuild/Debug/LLIntOffsets/arm64/LLIntDesiredOffsets.h' l='1501' c='_ZN3JSC21LLIntOffsetsExtractor5dummyEv'/>
<use f='webkit/WebKitBuild/Debug/LLIntOffsets/arm64/LLIntDesiredOffsets.h' l='1504' c='_ZN3JSC21LLIntOffsetsExtractor5dummyEv'/>
<size>40</size>
<use f='webkit/Source/WTF/wtf/WTFConfig.cpp' l='103' macro='1' c='_ZN3WTF6Config17permanentlyFreezeEv'/>
<size>40</size>
<def f='webkit/Source/bmalloc/bmalloc/GigacageConfig.h' l='46' ll='77'/>
<use f='webkit/Source/bmalloc/bmalloc/GigacageConfig.h' l='89'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.h' l='101' macro='1' c='_ZN8Gigacage9isEnabledEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.h' l='115' macro='1' c='_ZN8Gigacage37disablingPrimitiveGigacageIsForbiddenEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.h' l='126' macro='1' c='_ZN8Gigacage9isEnabledENS_4KindE'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.h' l='127' macro='1' c='_ZN8Gigacage9isEnabledENS_4KindE'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.h' l='133' macro='1' c='_ZN8Gigacage7basePtrENS_4KindE'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.h' l='139' macro='1' c='_ZN8Gigacage16addressOfBasePtrENS_4KindE'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.h' l='203' macro='1' c='_ZN8Gigacage8containsEPKv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.h' l='205' macro='1' c='_ZN8Gigacage8containsEPKv'/>
<size>40</size>
<fun r='_ZNK8Gigacage6Config7basePtrENS_4KindE'/>
<fun r='_ZN8Gigacage6Config10setBasePtrENS_4KindEPv'/>
<mbr r='Gigacage::Config::isPermanentlyFrozen' o='0' t='bool'/>
<mbr r='Gigacage::Config::isEnabled' o='8' t='bool'/>
<mbr r='Gigacage::Config::disablingPrimitiveGigacageIsForbidden' o='16' t='bool'/>
<mbr r='Gigacage::Config::shouldBeEnabled' o='24' t='bool'/>
<mbr r='Gigacage::Config::shouldBeEnabledHasBeenCalled' o='32' t='bool'/>
<mbr r='Gigacage::Config::ensureGigacageHasBeenCalled' o='40' t='bool'/>
<mbr r='Gigacage::Config::start' o='64' t='void *'/>
<mbr r='Gigacage::Config::totalSize' o='128' t='size_t'/>
<mbr r='Gigacage::Config::basePtrs' o='192' t='void *[2]'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='113' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='114' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='122' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='172' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='182' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='183' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='185' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='191' macro='1' c='_ZN8Gigacage24disablePrimitiveGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='194' macro='1' c='_ZN8Gigacage24disablePrimitiveGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='198' macro='1' c='_ZN8Gigacage24disablePrimitiveGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='214' macro='1' c='_ZN8Gigacage27addPrimitiveDisableCallbackEPFvPvES0_'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='241' macro='1' c='_ZN8GigacageL23verifyGigacageIsEnabledEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='243' macro='1' c='_ZN8GigacageL23verifyGigacageIsEnabledEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='244' macro='1' c='_ZN8GigacageL23verifyGigacageIsEnabledEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='245' macro='1' c='_ZN8GigacageL23verifyGigacageIsEnabledEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='252' macro='1' c='_ZN8Gigacage32forbidDisablingPrimitiveGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='252' macro='1' c='_ZN8Gigacage32forbidDisablingPrimitiveGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='255' macro='1' c='_ZN8Gigacage32forbidDisablingPrimitiveGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='256' macro='1' c='_ZN8Gigacage32forbidDisablingPrimitiveGigacageEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='266' macro='1' c='_ZN8Gigacage15shouldBeEnabledEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='267' macro='1' c='_ZN8Gigacage15shouldBeEnabledEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='284' macro='1' c='_ZN8Gigacage15shouldBeEnabledEv'/>
<use f='webkit/Source/bmalloc/bmalloc/Gigacage.cpp' l='286' macro='1' c='_ZN8Gigacage15shouldBeEnabledEv'/>
<size>40</size>
