<dec f='webkit/Source/JavaScriptCore/parser/ParserTokens.h' l='77' type='525'/>
<dec f='webkit/WebKitBuild/Debug/JavaScriptCore.framework/Versions/A/PrivateHeaders/ParserTokens.h' l='77' type='525'/>
