<dec f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/encoder/vp9_speed_features.h' l='216' type='int64_t'/>
<offset>0</offset>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/encoder/vp9_encodeframe.c' l='5155' u='r' c='nonrd_pick_partition'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/encoder/vp9_speed_features.c' l='417' u='w' c='set_rt_speed_feature_framesize_dependent'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/encoder/vp9_speed_features.c' l='419' u='w' c='set_rt_speed_feature_framesize_dependent'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/libvpx/source/libvpx/vp9/encoder/vp9_speed_features.c' l='845' u='w' c='vp9_set_speed_features_framesize_dependent'/>
