<dec f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/include/openssl/x509v3.h' l='331' type='ASN1_OCTET_STRING *'/>
<offset>64</offset>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/crypto/x509v3/v3_pci.c' l='77' u='r' c='i2r_pci'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/crypto/x509v3/v3_pci.c' l='77' u='r' c='i2r_pci'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/crypto/x509v3/v3_pci.c' l='79' u='r' c='i2r_pci'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/boringssl/src/crypto/x509v3/v3_pci.c' l='263' u='w' c='r2i_pci'/>
