<dec f='webkit/Source/ThirdParty/ANGLE/src/compiler/translator/IntermNode.h' l='978' type='2'/>
<use f='webkit/Source/ThirdParty/ANGLE/src/compiler/translator/OutputGLSLBase.cpp' l='1223' c='_ZN2sh15TOutputGLSLBase26visitPreprocessorDirectiveEPNS_28TIntermPreprocessorDirectiveE'/>
