<dec f='webkit/Source/WebCore/platform/MediaSample.h' l='57' type='union (anonymous union at /Volumes/ExternalSSD/Projects/webkit/WebKit/Source/WebCore/platform/MediaSample.h:52:5)'/>
<offset>64</offset>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/LocalSampleBufferDisplayLayer.mm' l='331' u='m' c='_ZN7WebCore29LocalSampleBufferDisplayLayer19enqueueSampleBufferERNS_11MediaSampleE'/>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm' l='232' u='m' c='_ZN7WebCoreL25videoTransformationMatrixERNS_11MediaSampleE'/>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/MediaPlayerPrivateMediaStreamAVFObjC.mm' l='963' u='m' c='_ZN7WebCore36MediaPlayerPrivateMediaStreamAVFObjC23updateCurrentFrameImageEv'/>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/MediaSampleAVFObjC.mm' l='358' u='m' c='_ZN7WebCore18MediaSampleAVFObjC23setAsDisplayImmediatelyERNS_11MediaSampleE'/>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm' l='1149' u='m' c='_ZN7WebCore26SourceBufferPrivateAVFObjC13enqueueSampleEON3WTF3RefINS_11MediaSampleENS1_12RawPtrTraitsIS3_EEEERKNS1_10AtomStringE'/>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm' l='1182' u='m' c='_ZN7WebCore26SourceBufferPrivateAVFObjC13enqueueSampleEON3WTF3RefINS_11MediaSampleENS1_12RawPtrTraitsIS3_EEEERKNS1_10AtomStringE'/>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm' l='1194' u='m' c='_ZN7WebCore26SourceBufferPrivateAVFObjC13enqueueSampleEON3WTF3RefINS_11MediaSampleENS1_12RawPtrTraitsIS3_EEEERKNS1_10AtomStringE'/>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm' l='1203' u='m' c='_ZN7WebCore26SourceBufferPrivateAVFObjC13enqueueSampleEON3WTF3RefINS_11MediaSampleENS1_12RawPtrTraitsIS3_EEEERKNS1_10AtomStringE'/>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm' l='1222' u='m' c='_ZN7WebCore26SourceBufferPrivateAVFObjC13enqueueSampleEON3WTF3RefINS_11MediaSampleENS1_12RawPtrTraitsIS3_EEEERKNS1_10AtomStringE'/>
<use f='webkit/Source/WebCore/platform/graphics/avfoundation/objc/SourceBufferPrivateAVFObjC.mm' l='1235' u='m' c='_ZN7WebCore26SourceBufferPrivateAVFObjC13enqueueSampleEON3WTF3RefINS_11MediaSampleENS1_12RawPtrTraitsIS3_EEEERKNS1_10AtomStringE'/>
<use f='webkit/Source/WebCore/platform/graphics/cv/ImageRotationSessionVT.mm' l='139' u='m' c='_ZN7WebCore22ImageRotationSessionVT6rotateERNS_11MediaSampleERKNS0_18RotationPropertiesENS0_19IsCGImageCompatibleE'/>
<dec f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/MediaSample.h' l='57' type='union (anonymous union at /Volumes/ExternalSSD/Projects/webkit/WebKit/WebKitBuild/Debug/WebCore.framework/PrivateHeaders/MediaSample.h:52:5)'/>
<offset>64</offset>
<use f='webkit/Source/WebCore/platform/graphics/cv/ImageTransferSessionVT.mm' l='359' u='m' c='_ZN7WebCore22ImageTransferSessionVT18convertMediaSampleERNS_11MediaSampleERKNS_7IntSizeE'/>
<use f='webkit/Source/WebCore/platform/graphics/RemoteVideoSample.cpp' l='92' u='m' c='_ZN7WebCore17RemoteVideoSample6createERNS_11MediaSampleE'/>
<use f='webkit/Source/WebCore/platform/mediarecorder/MediaRecorderPrivateAVFImpl.cpp' l='90' u='m' c='_ZN7WebCore27MediaRecorderPrivateAVFImpl20videoSampleAvailableERNS_11MediaSampleE'/>
<use f='webkit/Source/WebCore/platform/mediastream/mac/RealtimeOutgoingVideoSourceCocoa.cpp' l='87' u='m' c='_ZN7WebCore32RealtimeOutgoingVideoSourceCocoa20videoSampleAvailableERNS_11MediaSampleE'/>
<use f='webkit/Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.cpp' l='315' u='m' c='_ZN7WebCore23MockSourceBufferPrivate13enqueueSampleEON3WTF3RefINS_11MediaSampleENS1_12RawPtrTraitsIS3_EEEERKNS1_10AtomStringE'/>
<use f='webkit/Source/WebCore/platform/mediarecorder/cocoa/MediaRecorderPrivateWriterCocoa.mm' l='420' u='m' c='_ZN7WebCore26MediaRecorderPrivateWriter23appendVideoSampleBufferERNS_11MediaSampleE'/>
<use f='webkit/Source/WebKit/Shared/mac/MediaFormatReader/MediaSampleByteRange.cpp' l='53' u='m' c='_ZN6WebKit20MediaSampleByteRangeC1ERN7WebCore11MediaSampleEP24OpaqueMTPluginByteSourcey'/>
<use f='webkit/Source/WebKit/Shared/mac/MediaFormatReader/MediaSampleByteRange.cpp' l='56' u='m' c='_ZN6WebKit20MediaSampleByteRangeC1ERN7WebCore11MediaSampleEP24OpaqueMTPluginByteSourcey'/>
<use f='webkit/Source/WebKit/Shared/mac/MediaFormatReader/MediaSampleCursor.cpp' l='371' u='m' c='_ZNK6WebKit17MediaSampleCursor21copyFormatDescriptionEPPK25opaqueCMFormatDescription'/>
<use f='webkit/Source/WebKit/Shared/mac/MediaFormatReader/MediaSampleCursor.cpp' l='384' u='m' c='_ZNK6WebKit17MediaSampleCursor18copySampleLocationEP32MTPluginSampleCursorStorageRangePP24OpaqueMTPluginByteSource'/>
<use f='webkit/Source/WebKit/Shared/mac/MediaFormatReader/MediaTrackReader.cpp' l='187' u='m' c='_ZN6WebKit16MediaTrackReader12copyPropertyEPK10__CFStringPK13__CFAllocatorPv'/>
<use f='webkit/Source/WebKit/WebProcess/GPU/webrtc/MediaRecorderPrivate.cpp' l='97' u='m' c='_ZN6WebKit20MediaRecorderPrivate20videoSampleAvailableERN7WebCore11MediaSampleE'/>
<use f='webkit/Source/WebKit/WebProcess/GPU/webrtc/MediaRecorderPrivate.cpp' l='109' u='m' c='_ZN6WebKit20MediaRecorderPrivate20videoSampleAvailableERN7WebCore11MediaSampleE'/>
