<dec f='webkit/Source/WebCore/Modules/webgpu/WHLSL/AST/WHLSLQualifier.h' l='46' type='4'/>
<use f='webkit/Source/WebCore/Modules/webgpu/WHLSL/WHLSLParser.cpp' l='787' u='a' c='_ZN7WebCore5WHLSL6Parser15parseQualifiersEv'/>
