<dec f='webkit/Source/WebCore/platform/ScrollTypes.h' l='209' type='1'/>
<use f='webkit/Source/WebCore/platform/mac/ScrollAnimatorMac.mm' l='1424' u='r' c='_ZN7WebCore17ScrollAnimatorMac19updateScrollerStyleEv'/>
<dec f='webkit/WebKitBuild/Debug/WebCore.framework/Versions/A/PrivateHeaders/ScrollTypes.h' l='209' type='1'/>
