<def f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.h' l='78' ll='89'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.h' l='91' c='_ZN6WebKit18NetworkRTCProvider10takeSocketEN3WTF16ObjectIdentifierIN7WebCore29LibWebRTCSocketIdentifierTypeEEE'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.h' l='98' c='_ZN6WebKit18NetworkRTCProvider13newConnectionERNS0_6SocketEONSt3__110unique_ptrIN3rtc17AsyncPacketSocketENS3_14default_deleteIS6_EEEE'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.h' l='123' c='_ZN6WebKit18NetworkRTCProvider9addSocketEN3WTF16ObjectIdentifierIN7WebCore29LibWebRTCSocketIdentifierTypeEEEONSt3__110unique_ptrINS0_6SocketENS6_14default_deleteIS8_EEEE'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.h' l='135'/>
<size>8</size>
<fun r='_ZN6WebKit18NetworkRTCProvider6SocketD1Ev'/>
<fun r='_ZNK6WebKit18NetworkRTCProvider6Socket4typeEv'/>
<fun r='_ZNK6WebKit18NetworkRTCProvider6Socket10identifierEv'/>
<fun r='_ZN6WebKit18NetworkRTCProvider6Socket5closeEv'/>
<fun r='_ZN6WebKit18NetworkRTCProvider6Socket9setOptionEii'/>
<fun r='_ZN6WebKit18NetworkRTCProvider6Socket6sendToEPKhmRKN3rtc13SocketAddressERKNS4_13PacketOptionsE'/>
<ovr f='webkit/Source/WebKit/NetworkProcess/webrtc/LibWebRTCSocketClient.h' l='41' c='WebKit::LibWebRTCSocketClient'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/LibWebRTCSocketClient.h' l='41'/>
<ovr f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.h' l='39' c='WebKit::NetworkRTCTCPSocketCocoa'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.h' l='39'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.h' l='42' c='_ZN6WebKit24NetworkRTCTCPSocketCocoa21createClientTCPSocketEN3WTF16ObjectIdentifierIN7WebCore29LibWebRTCSocketIdentifierTypeEEERNS_18NetworkRTCProvide647914'/>
<ovr f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.h' l='60' c='WebKit::NetworkRTCUDPSocketCocoa'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.h' l='60'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.h' l='63' c='_ZN6WebKit24NetworkRTCUDPSocketCocoa15createUDPSocketEN3WTF16ObjectIdentifierIN7WebCore29LibWebRTCSocketIdentifierTypeEEERNS_18NetworkRTCProviderERKN39358372'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.cpp' l='242' c='_ZN6WebKit18NetworkRTCProvider9addSocketEN3WTF16ObjectIdentifierIN7WebCore29LibWebRTCSocketIdentifierTypeEEEONSt3__110unique_ptrINS0_6SocketENS6_14default_deleteIS8_EEEE'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.cpp' l='248' c='_ZN6WebKit18NetworkRTCProvider10takeSocketEN3WTF16ObjectIdentifierIN7WebCore29LibWebRTCSocketIdentifierTypeEEE'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCProvider.cpp' l='254' c='_ZN6WebKit18NetworkRTCProvider13newConnectionERNS0_6SocketEONSt3__110unique_ptrIN3rtc17AsyncPacketSocketENS3_14default_deleteIS6_EEEE'/>
<size>8</size>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCTCPSocketCocoa.mm' l='52' c='_ZN6WebKit24NetworkRTCTCPSocketCocoa21createClientTCPSocketEN3WTF16ObjectIdentifierIN7WebCore29LibWebRTCSocketIdentifierTypeEEERNS_18NetworkRTCProvide647914'/>
<use f='webkit/Source/WebKit/NetworkProcess/webrtc/NetworkRTCUDPSocketCocoa.mm' l='93' c='_ZN6WebKit24NetworkRTCUDPSocketCocoa15createUDPSocketEN3WTF16ObjectIdentifierIN7WebCore29LibWebRTCSocketIdentifierTypeEEERNS_18NetworkRTCProviderERKN39358372'/>
<size>8</size>
