<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_processing/include/audio_processing.h' l='193' ll='397'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_processing/include/audio_processing.h' l='556' c='_ZN6webrtc15AudioProcessing11ApplyConfigERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_processing/include/audio_processing.h' l='700' c='_ZNK6webrtc15AudioProcessing9GetConfigEv'/>
<size>172</size>
<doc f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_processing/include/audio_processing.h' l='179'>// The struct below constitutes the new parameter scheme for the audio
  // processing. It is being introduced gradually and until it is fully
  // introduced, it is prone to change.
  // TODO(peah): Remove this comment once the new config scheme is fully rolled
  // out.
  //
  // The parameters and behavior of the audio processing module are controlled
  // by changing the default values in the AudioProcessing::Config struct.
  // The config is applied by passing the struct to the ApplyConfig method.
  //
  // This config is intended to be used during setup, and to enable/disable
  // top-level processing effects. Use during processing may cause undesired
  // submodule resets, affecting the audio quality. Use the RuntimeSetting
  // construct for runtime configuration.</doc>
<mbr r='webrtc::AudioProcessing::Config::pipeline' o='0' t='struct Pipeline'/>
<mbr r='webrtc::AudioProcessing::Config::pre_amplifier' o='64' t='struct PreAmplifier'/>
<mbr r='webrtc::AudioProcessing::Config::capture_level_adjustment' o='128' t='struct CaptureLevelAdjustment'/>
<mbr r='webrtc::AudioProcessing::Config::high_pass_filter' o='288' t='struct HighPassFilter'/>
<mbr r='webrtc::AudioProcessing::Config::echo_canceller' o='304' t='struct EchoCanceller'/>
<mbr r='webrtc::AudioProcessing::Config::noise_suppression' o='352' t='struct NoiseSuppression'/>
<mbr r='webrtc::AudioProcessing::Config::transient_suppression' o='448' t='struct TransientSuppression'/>
<mbr r='webrtc::AudioProcessing::Config::voice_detection' o='456' t='struct VoiceDetection'/>
<mbr r='webrtc::AudioProcessing::Config::gain_controller1' o='480' t='struct GainController1'/>
<mbr r='webrtc::AudioProcessing::Config::gain_controller2' o='832' t='struct GainController2'/>
<mbr r='webrtc::AudioProcessing::Config::residual_echo_detector' o='1344' t='struct ResidualEchoDetector'/>
<mbr r='webrtc::AudioProcessing::Config::level_estimation' o='1352' t='struct LevelEstimation'/>
<fun r='_ZNK6webrtc15AudioProcessing6Config8ToStringEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_voice_engine.cc' l='543' c='_ZN7cricket17WebRtcVoiceEngine12ApplyOptionsERKNS_12AudioOptionsE'/>
<size>172</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_processing/audio_processing_impl.h' l='75' c='_ZN6webrtc19AudioProcessingImpl11ApplyConfigERKNS_15AudioProcessing6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_processing/audio_processing_impl.h' l='140' c='_ZNK6webrtc19AudioProcessingImpl9GetConfigEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_processing/audio_processing_impl.h' l='366'/>
<size>172</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_processing/audio_processing_impl.cc' l='532' c='_ZN6webrtc19AudioProcessingImpl11ApplyConfigERKNS_15AudioProcessing6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_processing/audio_processing_impl.cc' l='1719' c='_ZNK6webrtc19AudioProcessingImpl9GetConfigEv'/>
<size>172</size>
<def f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/modules/audio_processing/include/audio_processing.h' l='193' ll='397'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/modules/audio_processing/include/audio_processing.h' l='556' c='_ZN6webrtc15AudioProcessing11ApplyConfigERKNS0_6ConfigE'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/modules/audio_processing/include/audio_processing.h' l='700' c='_ZNK6webrtc15AudioProcessing9GetConfigEv'/>
<size>172</size>
<doc f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/modules/audio_processing/include/audio_processing.h' l='179'>// The struct below constitutes the new parameter scheme for the audio
  // processing. It is being introduced gradually and until it is fully
  // introduced, it is prone to change.
  // TODO(peah): Remove this comment once the new config scheme is fully rolled
  // out.
  //
  // The parameters and behavior of the audio processing module are controlled
  // by changing the default values in the AudioProcessing::Config struct.
  // The config is applied by passing the struct to the ApplyConfig method.
  //
  // This config is intended to be used during setup, and to enable/disable
  // top-level processing effects. Use during processing may cause undesired
  // submodule resets, affecting the audio quality. Use the RuntimeSetting
  // construct for runtime configuration.</doc>
<mbr r='webrtc::AudioProcessing::Config::pipeline' o='0' t='struct Pipeline'/>
<mbr r='webrtc::AudioProcessing::Config::pre_amplifier' o='64' t='struct PreAmplifier'/>
<mbr r='webrtc::AudioProcessing::Config::capture_level_adjustment' o='128' t='struct CaptureLevelAdjustment'/>
<mbr r='webrtc::AudioProcessing::Config::high_pass_filter' o='288' t='struct HighPassFilter'/>
<mbr r='webrtc::AudioProcessing::Config::echo_canceller' o='304' t='struct EchoCanceller'/>
<mbr r='webrtc::AudioProcessing::Config::noise_suppression' o='352' t='struct NoiseSuppression'/>
<mbr r='webrtc::AudioProcessing::Config::transient_suppression' o='448' t='struct TransientSuppression'/>
<mbr r='webrtc::AudioProcessing::Config::voice_detection' o='456' t='struct VoiceDetection'/>
<mbr r='webrtc::AudioProcessing::Config::gain_controller1' o='480' t='struct GainController1'/>
<mbr r='webrtc::AudioProcessing::Config::gain_controller2' o='832' t='struct GainController2'/>
<mbr r='webrtc::AudioProcessing::Config::residual_echo_detector' o='1344' t='struct ResidualEchoDetector'/>
<mbr r='webrtc::AudioProcessing::Config::level_estimation' o='1352' t='struct LevelEstimation'/>
<fun r='_ZNK6webrtc15AudioProcessing6Config8ToStringEv'/>
