<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.h' l='83' u='w' c='_ZN6webrtc22bitrate_allocator_impl16AllocatableTrackC1EPNS_24BitrateAllocatorObserverENS_27MediaStreamAllocationConfigE'/>
<dec f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.h' l='87' type='webrtc::MediaStreamAllocationConfig'/>
<offset>64</offset>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='65' u='m' c='_ZN6webrtc12_GLOBAL__N_128EnoughBitrateForAllObserversERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='90' u='m' c='_ZN6webrtc12_GLOBAL__N_123DistributeBitrateEvenlyERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjbiPNS1_3mapIPN4971414'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='140' u='m' c='_ZN6webrtc12_GLOBAL__N_127DistributeBitrateRelativelyERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjRKNS1_3map16093715'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='141' u='m' c='_ZN6webrtc12_GLOBAL__N_127DistributeBitrateRelativelyERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjRKNS1_3map16093715'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='198' u='m' c='_ZN6webrtc12_GLOBAL__N_117LowRateAllocationERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='199' u='m' c='_ZN6webrtc12_GLOBAL__N_117LowRateAllocationERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='208' u='m' c='_ZN6webrtc12_GLOBAL__N_117LowRateAllocationERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='263' u='m' c='_ZN6webrtc12_GLOBAL__N_120NormalRateAllocationERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='265' u='m' c='_ZN6webrtc12_GLOBAL__N_120NormalRateAllocationERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='266' u='m' c='_ZN6webrtc12_GLOBAL__N_120NormalRateAllocationERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='274' u='m' c='_ZN6webrtc12_GLOBAL__N_120NormalRateAllocationERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='304' u='m' c='_ZN6webrtc12_GLOBAL__N_117MaxRateAllocationERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='305' u='m' c='_ZN6webrtc12_GLOBAL__N_117MaxRateAllocationERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEjj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='333' u='m' c='_ZN6webrtc12_GLOBAL__N_116AllocateBitratesERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='334' u='m' c='_ZN6webrtc12_GLOBAL__N_116AllocateBitratesERKNSt3__16vectorINS_22bitrate_allocator_impl16AllocatableTrackENS1_9allocatorIS4_EEEEj'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='422' u='m' c='_ZN6webrtc16BitrateAllocator24OnNetworkEstimateChangedENS_18TargetTransferRateE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='425' u='m' c='_ZN6webrtc16BitrateAllocator24OnNetworkEstimateChangedENS_18TargetTransferRateE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='434' u='m' c='_ZN6webrtc16BitrateAllocator24OnNetworkEstimateChangedENS_18TargetTransferRateE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='457' u='w' c='_ZN6webrtc16BitrateAllocator11AddObserverEPNS_24BitrateAllocatorObserverENS_27MediaStreamAllocationConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='503' u='m' c='_ZN6webrtc16BitrateAllocator22UpdateAllocationLimitsEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='504' u='m' c='_ZN6webrtc16BitrateAllocator22UpdateAllocationLimitsEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='506' u='m' c='_ZN6webrtc16BitrateAllocator22UpdateAllocationLimitsEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='513' u='m' c='_ZN6webrtc16BitrateAllocator22UpdateAllocationLimitsEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='571' u='m' c='_ZNK6webrtc22bitrate_allocator_impl16AllocatableTrack20LastAllocatedBitrateEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/bitrate_allocator.cc' l='577' u='m' c='_ZNK6webrtc22bitrate_allocator_impl16AllocatableTrack24MinBitrateWithHysteresisEv'/>
