<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.h' l='44' ll='51'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.h' l='57'/>
<size>12</size>
<doc f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.h' l='27'>// Example:
  // WebRTC-VP8-CpuSpeed-Arm/pixels:100|200|300,cpu_speed:-1|-2|-3/
  // pixels &lt;= 100 -&gt; cpu speed: -1
  // pixels &lt;= 200 -&gt; cpu speed: -2
  // pixels &lt;= 300 -&gt; cpu speed: -3

  // WebRTC-VP8-CpuSpeed-Arm/pixels:100|200|300,cpu_speed:-1|-2|-3/,
  // cpu_speed_le_cores:-4|-5|-6,cores:3/
  // If |num_cores| &gt; 3
  //   pixels &lt;= 100 -&gt; cpu speed: -1
  //   pixels &lt;= 200 -&gt; cpu speed: -2
  //   pixels &lt;= 300 -&gt; cpu speed: -3
  // else
  //   pixels &lt;= 100 -&gt; cpu speed: -4
  //   pixels &lt;= 200 -&gt; cpu speed: -5
  //   pixels &lt;= 300 -&gt; cpu speed: -6</doc>
<mbr r='webrtc::CpuSpeedExperiment::Config::pixels' o='0' t='int'/>
<mbr r='webrtc::CpuSpeedExperiment::Config::cpu_speed' o='32' t='int'/>
<mbr r='webrtc::CpuSpeedExperiment::Config::cpu_speed_le_cores' o='64' t='int'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.cc' l='25' c='_ZN6webrtc12_GLOBAL__N_115GetValidOrEmptyERKNSt3__16vectorINS_18CpuSpeedExperiment6ConfigENS1_9allocatorIS4_EEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.cc' l='26' c='_ZN6webrtc12_GLOBAL__N_115GetValidOrEmptyERKNSt3__16vectorINS_18CpuSpeedExperiment6ConfigENS1_9allocatorIS4_EEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.cc' l='49' c='_ZN6webrtc12_GLOBAL__N_110HasLeCoresERKNSt3__16vectorINS_18CpuSpeedExperiment6ConfigENS1_9allocatorIS4_EEEE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.cc' l='59' c='_ZN6webrtc18CpuSpeedExperimentC1Ev'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.cc' l='60' c='_ZN6webrtc18CpuSpeedExperimentC1Ev'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.cc' l='62' c='_ZN6webrtc18CpuSpeedExperimentC1Ev'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/rtc_base/experiments/cpu_speed_experiment.cc' l='65' c='_ZN6webrtc18CpuSpeedExperimentC1Ev'/>
<size>12</size>
