<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/dtx_controller.h' l='23' ll='32'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/dtx_controller.h' l='34' c='_ZN6webrtc13DtxControllerC1ERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/dtx_controller.h' l='43'/>
<size>12</size>
<fun r='_ZN6webrtc13DtxController6ConfigC1Ebii'/>
<mbr r='webrtc::DtxController::Config::initial_dtx_enabled' o='0' t='bool'/>
<mbr r='webrtc::DtxController::Config::dtx_enabling_bandwidth_bps' o='32' t='int'/>
<mbr r='webrtc::DtxController::Config::dtx_disabling_bandwidth_bps' o='64' t='int'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/audio_network_adaptor/dtx_controller.cc' l='24' c='_ZN6webrtc13DtxControllerC1ERKNS0_6ConfigE'/>
<size>12</size>
<fun r='_ZN6webrtc13DtxController6ConfigC1Ebii'/>
