<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/regathering_controller.h' l='46' ll='49'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/regathering_controller.h' l='52' c='_ZN6webrtc26BasicRegatheringControllerC1ERKNS0_6ConfigEPN7cricket20IceTransportInternalEPN3rtc6ThreadE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/regathering_controller.h' l='68' c='_ZN6webrtc26BasicRegatheringController9SetConfigERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/regathering_controller.h' l='89'/>
<size>4</size>
<mbr r='webrtc::BasicRegatheringController::Config::regather_on_failed_networks_interval' o='0' t='int'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/p2p_transport_channel.cc' l='201' c='_ZN7cricket19P2PTransportChannelC1ERKNSt3__112basic_stringIcNS1_11char_traitsIcEENS1_9allocatorIcEEEEiPNS_13PortAllocatorEPN6webrtc32AsyncDnsResolverF3893565'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/p2p_transport_channel.cc' l='791' c='_ZN7cricket19P2PTransportChannel12SetIceConfigERKNS_9IceConfigE'/>
<size>4</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/regathering_controller.cc' l='17' c='_ZN6webrtc26BasicRegatheringControllerC1ERKNS0_6ConfigEPN7cricket20IceTransportInternalEPN3rtc6ThreadE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/p2p/base/regathering_controller.cc' l='42' c='_ZN6webrtc26BasicRegatheringController9SetConfigERKNS0_6ConfigE'/>
<size>4</size>
