<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/isac/audio_encoder_isac_t.h' l='33' ll='42'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/isac/audio_encoder_isac_t.h' l='44' c='_ZN6webrtc17AudioEncoderIsacTC1ERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/isac/audio_encoder_isac_t.h' l='80' c='_ZN6webrtc17AudioEncoderIsacT23RecreateEncoderInstanceERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/isac/audio_encoder_isac_t.h' l='82'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_encoder_isac_fix.cc' l='57' c='_ZN6webrtc19AudioEncoderIsacFix16MakeAudioEncoderENS0_6ConfigEiNSt3__18optionalINS_16AudioCodecPairIdEEE'/>
<size>24</size>
<doc f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/isac/audio_encoder_isac_t.h' l='29'>// Allowed combinations of sample rate, frame size, and bit rate are
  //  - 16000 Hz, 30 ms, 10000-32000 bps
  //  - 16000 Hz, 60 ms, 10000-32000 bps
  //  - 32000 Hz, 30 ms, 10000-56000 bps (if T has super-wideband support)</doc>
<fun r='_ZNK6webrtc17AudioEncoderIsacT6Config4IsOkEv'/>
<mbr r='webrtc::AudioEncoderIsacT::Config::payload_type' t='int'/>
<mbr r='webrtc::AudioEncoderIsacT::Config::sample_rate_hz' t='int'/>
<mbr r='webrtc::AudioEncoderIsacT::Config::frame_size_ms' t='int'/>
<mbr r='webrtc::AudioEncoderIsacT::Config::bit_rate' t='int'/>
<mbr r='webrtc::AudioEncoderIsacT::Config::max_payload_size_bytes' t='int'/>
<mbr r='webrtc::AudioEncoderIsacT::Config::max_bit_rate' t='int'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/audio_codecs/isac/audio_encoder_isac_float.cc' l='69' c='_ZN6webrtc21AudioEncoderIsacFloat16MakeAudioEncoderERKNS0_6ConfigEiNSt3__18optionalINS_16AudioCodecPairIdEEE'/>
<size>24</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/isac/audio_encoder_isac_t_impl.h' l='48' c='_ZN6webrtc17AudioEncoderIsacTC1ERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/modules/audio_coding/codecs/isac/audio_encoder_isac_t_impl.h' l='196' c='_ZN6webrtc17AudioEncoderIsacT23RecreateEncoderInstanceERKNS0_6ConfigE'/>
<fun r='_ZNK6webrtc17AudioEncoderIsacT6Config4IsOkEv'/>
