<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/audio_send_stream.h' l='75' ll='166'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/audio_send_stream.h' l='170' c='_ZNK6webrtc15AudioSendStream9GetConfigEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/audio_send_stream.h' l='173' c='_ZN6webrtc15AudioSendStream11ReconfigureERKNS0_6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='58' c='_ZN6webrtc8internal15AudioSendStreamC1EPNS_5ClockERKNS_15AudioSendStream6ConfigERKN3rtc13scoped_refptrINS_10AudioStateEEEPNS_16TaskQueueFactoryEPNS_137086485'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='69' c='_ZN6webrtc8internal15AudioSendStreamC1EPNS_5ClockERKNS_15AudioSendStream6ConfigERKN3rtc13scoped_refptrINS_10AudioStateEEEPNS_16TaskQueueFactoryEPNS_35369888'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='85' c='_ZNK6webrtc8internal15AudioSendStream9GetConfigEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='86' c='_ZN6webrtc8internal15AudioSendStream11ReconfigureERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='127' c='_ZN6webrtc8internal15AudioSendStream15ConfigureStreamERKNS_15AudioSendStream6ConfigEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='129' c='_ZN6webrtc8internal15AudioSendStream14SetupSendCodecERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='131' c='_ZN6webrtc8internal15AudioSendStream20ReconfigureSendCodecERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='133' c='_ZN6webrtc8internal15AudioSendStream14ReconfigureANAERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='135' c='_ZN6webrtc8internal15AudioSendStream14ReconfigureCNGERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='137' c='_ZN6webrtc8internal15AudioSendStream26ReconfigureBitrateObserverERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='176'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.h' l='215' c='_ZN6webrtc8internal15AudioSendStream17TransportSeqNumIdERKNS_15AudioSendStream6ConfigE'/>
<size>368</size>
<fun r='_ZN6webrtc15AudioSendStream6ConfigC1Ev'/>
<fun r='_ZN6webrtc15AudioSendStream6ConfigC1EPNS_9TransportE'/>
<fun r='_ZN6webrtc15AudioSendStream6ConfigD1Ev'/>
<fun r='_ZNK6webrtc15AudioSendStream6Config8ToStringEv'/>
<mbr r='webrtc::AudioSendStream::Config::rtp' o='0' t='struct Rtp'/>
<mbr r='webrtc::AudioSendStream::Config::rtcp_report_interval_ms' o='896' t='int'/>
<mbr r='webrtc::AudioSendStream::Config::send_transport' o='960' t='webrtc::Transport *'/>
<mbr r='webrtc::AudioSendStream::Config::min_bitrate_bps' o='1024' t='int'/>
<mbr r='webrtc::AudioSendStream::Config::max_bitrate_bps' o='1056' t='int'/>
<mbr r='webrtc::AudioSendStream::Config::bitrate_priority' o='1088' t='double'/>
<mbr r='webrtc::AudioSendStream::Config::has_dscp' o='1152' t='bool'/>
<mbr r='webrtc::AudioSendStream::Config::audio_network_adaptor_config' o='1216' t='absl::optional&lt;std::string&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::send_codec_spec' o='1472' t='absl::optional&lt;SendCodecSpec&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::encoder_factory' o='2368' t='rtc::scoped_refptr&lt;AudioEncoderFactory&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::codec_pair_id' o='2432' t='absl::optional&lt;AudioCodecPairId&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::track_id' o='2560' t='std::string'/>
<mbr r='webrtc::AudioSendStream::Config::crypto_options' o='2752' t='webrtc::CryptoOptions'/>
<mbr r='webrtc::AudioSendStream::Config::frame_encryptor' o='2816' t='rtc::scoped_refptr&lt;webrtc::FrameEncryptorInterface&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::frame_transformer' o='2880' t='rtc::scoped_refptr&lt;webrtc::FrameTransformerInterface&gt;'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='48' c='_ZN6webrtc12_GLOBAL__N_126UpdateEventLogStreamConfigEPNS_11RtcEventLogERKNS_15AudioSendStream6ConfigEPS5_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='49' c='_ZN6webrtc12_GLOBAL__N_126UpdateEventLogStreamConfigEPNS_11RtcEventLogERKNS_15AudioSendStream6ConfigEPS5_'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='102' c='_ZN6webrtc8internal15AudioSendStreamC1EPNS_5ClockERKNS_15AudioSendStream6ConfigERKN3rtc13scoped_refptrINS_10AudioStateEEEPNS_16TaskQueueFactoryEPNS_137086485'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='136' c='_ZN6webrtc8internal15AudioSendStreamC1EPNS_5ClockERKNS_15AudioSendStream6ConfigERKN3rtc13scoped_refptrINS_10AudioStateEEEPNS_16TaskQueueFactoryEPNS_35369888'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='152' c='_ZN6webrtc8internal15AudioSendStreamC1EPNS_5ClockERKNS_15AudioSendStream6ConfigERKN3rtc13scoped_refptrINS_10AudioStateEEEPNS_16TaskQueueFactoryEPNS_35369888'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='189' c='_ZNK6webrtc8internal15AudioSendStream9GetConfigEv'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='195' c='_ZN6webrtc8internal15AudioSendStream11ReconfigureERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='223' c='_ZN6webrtc8internal15AudioSendStream17TransportSeqNumIdERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='228' c='_ZN6webrtc8internal15AudioSendStream15ConfigureStreamERKNS_15AudioSendStream6ConfigEb'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='611' c='_ZN6webrtc8internal15AudioSendStream14SetupSendCodecERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='682' c='_ZN6webrtc8internal15AudioSendStream20ReconfigureSendCodecERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='726' c='_ZN6webrtc8internal15AudioSendStream14ReconfigureANAERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='758' c='_ZN6webrtc8internal15AudioSendStream14ReconfigureCNGERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/audio/audio_send_stream.cc' l='798' c='_ZN6webrtc8internal15AudioSendStream26ReconfigureBitrateObserverERKNS_15AudioSendStream6ConfigE'/>
<size>368</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.h' l='94' c='_ZN6webrtc4Call21CreateAudioSendStreamERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='261' c='_ZN6webrtc8internal4Call21CreateAudioSendStreamERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/call.cc' l='795' c='_ZN6webrtc8internal4Call21CreateAudioSendStreamERKNS_15AudioSendStream6ConfigE'/>
<size>368</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/degraded_call.h' l='55' c='_ZN6webrtc12DegradedCall21CreateAudioSendStreamERKNS_15AudioSendStream6ConfigE'/>
<size>368</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/degraded_call.cc' l='157' c='_ZN6webrtc12DegradedCall21CreateAudioSendStreamERKNS_15AudioSendStream6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/call/degraded_call.cc' l='161' c='_ZN6webrtc12DegradedCall21CreateAudioSendStreamERKNS_15AudioSendStream6ConfigE'/>
<size>368</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_voice_engine.cc' l='1142'/>
<size>368</size>
<def f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/audio_send_stream.h' l='75' ll='166'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/audio_send_stream.h' l='170' c='_ZNK6webrtc15AudioSendStream9GetConfigEv'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/audio_send_stream.h' l='173' c='_ZN6webrtc15AudioSendStream11ReconfigureERKNS0_6ConfigE'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/call/call.h' l='94' c='_ZN6webrtc4Call21CreateAudioSendStreamERKNS_15AudioSendStream6ConfigE'/>
<size>368</size>
<fun r='_ZN6webrtc15AudioSendStream6ConfigC1Ev'/>
<fun r='_ZN6webrtc15AudioSendStream6ConfigC1EPNS_9TransportE'/>
<fun r='_ZN6webrtc15AudioSendStream6ConfigD1Ev'/>
<fun r='_ZNK6webrtc15AudioSendStream6Config8ToStringEv'/>
<mbr r='webrtc::AudioSendStream::Config::rtp' o='0' t='struct Rtp'/>
<mbr r='webrtc::AudioSendStream::Config::rtcp_report_interval_ms' o='896' t='int'/>
<mbr r='webrtc::AudioSendStream::Config::send_transport' o='960' t='webrtc::Transport *'/>
<mbr r='webrtc::AudioSendStream::Config::min_bitrate_bps' o='1024' t='int'/>
<mbr r='webrtc::AudioSendStream::Config::max_bitrate_bps' o='1056' t='int'/>
<mbr r='webrtc::AudioSendStream::Config::bitrate_priority' o='1088' t='double'/>
<mbr r='webrtc::AudioSendStream::Config::has_dscp' o='1152' t='bool'/>
<mbr r='webrtc::AudioSendStream::Config::audio_network_adaptor_config' o='1216' t='absl::optional&lt;std::string&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::send_codec_spec' o='1472' t='absl::optional&lt;SendCodecSpec&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::encoder_factory' o='2368' t='rtc::scoped_refptr&lt;AudioEncoderFactory&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::codec_pair_id' o='2432' t='absl::optional&lt;AudioCodecPairId&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::track_id' o='2560' t='std::string'/>
<mbr r='webrtc::AudioSendStream::Config::crypto_options' o='2752' t='webrtc::CryptoOptions'/>
<mbr r='webrtc::AudioSendStream::Config::frame_encryptor' o='2816' t='rtc::scoped_refptr&lt;webrtc::FrameEncryptorInterface&gt;'/>
<mbr r='webrtc::AudioSendStream::Config::frame_transformer' o='2880' t='rtc::scoped_refptr&lt;webrtc::FrameTransformerInterface&gt;'/>
