<def f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/video/video_stream_encoder_settings.h' l='26' ll='30'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/api/video/video_stream_encoder_settings.h' l='36' c='_ZN6webrtc28EncoderSwitchRequestCallback20RequestEncoderSwitchERKNS0_6ConfigE'/>
<size>88</size>
<mbr r='webrtc::EncoderSwitchRequestCallback::Config::codec_name' o='0' t='std::string'/>
<mbr r='webrtc::EncoderSwitchRequestCallback::Config::param' o='192' t='absl::optional&lt;std::string&gt;'/>
<mbr r='webrtc::EncoderSwitchRequestCallback::Config::value' o='448' t='absl::optional&lt;std::string&gt;'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.h' l='230' c='_ZN7cricket18WebRtcVideoChannel20RequestEncoderSwitchERKN6webrtc28EncoderSwitchRequestCallback6ConfigE'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.h' l='643'/>
<size>88</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/media/engine/webrtc_video_engine.cc' l='912' c='_ZN7cricket18WebRtcVideoChannel20RequestEncoderSwitchERKN6webrtc28EncoderSwitchRequestCallback6ConfigE'/>
<size>88</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_stream_encoder.h' l='224' c='_ZN6webrtc18VideoStreamEncoder25QueueRequestEncoderSwitchERKNS_28EncoderSwitchRequestCallback6ConfigE'/>
<size>88</size>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/webrtc/video/video_stream_encoder.cc' l='2279' c='_ZN6webrtc18VideoStreamEncoder25QueueRequestEncoderSwitchERKNS_28EncoderSwitchRequestCallback6ConfigE'/>
<size>88</size>
<def f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/video/video_stream_encoder_settings.h' l='26' ll='30'/>
<use f='webkit/WebKitBuild/Debug/usr/local/include/webrtc/api/video/video_stream_encoder_settings.h' l='36' c='_ZN6webrtc28EncoderSwitchRequestCallback20RequestEncoderSwitchERKNS0_6ConfigE'/>
<size>88</size>
<mbr r='webrtc::EncoderSwitchRequestCallback::Config::codec_name' o='0' t='std::string'/>
<mbr r='webrtc::EncoderSwitchRequestCallback::Config::param' o='192' t='absl::optional&lt;std::string&gt;'/>
<mbr r='webrtc::EncoderSwitchRequestCallback::Config::value' o='448' t='absl::optional&lt;std::string&gt;'/>
