<dec f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86arch.h' l='280' type='yasm_value'/>
<offset>128</offset>
<doc f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86arch.h' l='280'>/* jump target */</doc>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='374' u='a' c='x86_bc_jmp_destroy'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='472' u='a' c='x86_bc_jmp_print'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='726' u='m' c='x86_bc_jmp_calc_len'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='727' u='m' c='x86_bc_jmp_calc_len'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='751' u='a' c='x86_bc_jmp_calc_len'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='965' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='966' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='969' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='971' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='974' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='975' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='976' u='a' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='997' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='998' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='1001' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='1003' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='1006' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='1007' u='m' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86bc.c' l='1008' u='a' c='x86_bc_jmp_tobytes'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86id.c' l='522' u='a' c='x86_finalize_jmp'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86id.c' l='525' u='m' c='x86_finalize_jmp'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86id.c' l='525' u='m' c='x86_finalize_jmp'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86id.c' l='525' u='m' c='x86_finalize_jmp'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86id.c' l='527' u='a' c='x86_finalize_jmp'/>
<use f='webkit/Source/ThirdParty/libwebrtc/Source/third_party/yasm/modules/arch/x86/x86id.c' l='528' u='m' c='x86_finalize_jmp'/>
